yle="width:var(--rsw, 100%);height:100%" class="r-1621pez"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg></div></div><div><div data-rid="1257c61b-bf28-4d81-8b43-a77cce6c288b" data-replo-repeated-index=".0.0.0.0.0" class="r-fiib3"><div data-rid="3cf6d2f7-5155-438d-a88b-1e3cbf847a60" data-replo-repeated-index=".0.0.0.0.0.0" class="r-9v34qf alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>I resi sono facili e gratuiti entro 30 giorni dall'acquisto.</span></p></span></div></div></div></div><div data-rid="3a192e50-89a2-4ae2-b1ef-27b082034ffd" data-replo-repeated-index=".0.0.0.0" class="r-4g3r24" data-replo-collapsible="true" data-state="closed" data-orientation="vertical"><div data-rid="435de24c-7217-4d09-ba44-927909a599c3" aria-expanded="false" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="button" class="r-xj5hfg"><div data-rid="af1ebb41-c925-48d7-a0a2-076305b20adc" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1mt4jds alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Quale garanzia di soddisfazione/rimborso avete?</span></p></span></div><div data-rid="7c913954-020b-4e95-8750-d06f60faae5a" data-replo-repeated-index=".0.0.0.0.0.0" class="r-tclafs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="img" aria-label="Collapse/Expand" style="width:var(--rsw, 100%);height:100%" class="r-fxikti"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg></div></div><div><div data-rid="bfe1d252-25a9-4d8e-8a30-731086cb0f54" data-replo-repeated-index=".0.0.0.0.0" class="r-194o6hq"><div data-rid="ae561288-a96e-4007-bdf0-bc3a997ff86a" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1h4eol8 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Offriamo una politica di restituzione di 30 giorni con rimborso. Per il reso è necessario che i prodotti non siano aperti e che siano conservati nell'imballaggio originale; le spese di spedizione dei prodotti difettosi sono a carico di ORBIS.</span></p></span></div></div></div></div><div data-rid="7db96eff-115d-4d06-bba9-138268a62cae" data-replo-repeated-index=".0.0.0.0" class="r-1m3cbev" data-replo-collapsible="true" data-state="closed" data-orientation="vertical"><div data-rid="482870fa-dc5c-41ac-9d02-27348d8054fd" aria-expanded="false" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="button" class="r-imluuj"><div data-rid="f25eb0c8-7fa3-476c-b53d-27e65782ed70" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1408wwf alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Perché dovrei scegliere il vostro prodotto?</span></p></span></div><div data-rid="ff642636-447a-4abe-8f09-f13a09e68c1c" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1x774rs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="img" aria-label="Collapse/Expand" style="width:var(--rsw, 100%);height:100%" class="r-1j9h95l"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg></div></div><div><div data-rid="688ac66a-b430-4a01-9363-e80a1390bde7" data-replo-repeated-index=".0.0.0.0.0" class="r-10528sd"><div data-rid="fcd497ce-4eaf-47fc-83c0-0f12d2848898" data-replo-repeated-index=".0.0.0.0.0.0" class="r-q1i46u alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>ORBIS offre integratori affidabili con norme di qualità svizzere rigorose e una catena di fornitura approvata HACCP dall'inizio alla fine.</span></p></span></div></div></div></div><div data-rid="028d8db9-300f-45f0-bd45-36e64b5e82f9" data-replo-repeated-index=".0.0.0.0" class="r-1lkbi7a" data-replo-collapsible="true" data-state="closed" data-orientation="vertical"><div data-rid="5ec460c1-3876-4ee2-8073-e5871bb5799c" aria-expanded="false" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="button" class="r-rjt49n"><div data-rid="fed49285-31d9-44b1-bc8a-cb22dd8cf221" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1cogvix alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>È possibile prescrivere o consigliare i vostri prodotti?</span></p></span></div><div data-rid="f1f1c5ab-9897-440f-83b8-ab4011026be9" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1ssidsv"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="img" aria-label="Collapse/Expand" style="width:var(--rsw, 100%);height:100%" class="r-8ha1po"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg></div></div><div><div data-rid="9f39a38f-59e8-4699-88d7-a97412f62bf7" data-replo-repeated-index=".0.0.0.0.0" class="r-fev6yo"><div data-rid="1f82bc5c-8e16-44b7-b500-1de15216e7a3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1a1jcus alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Sì, soprattutto per i professionisti della salute come medici e nutrizionisti.</span></p></span></div></div></div></div></div><div data-rid="6a19b66a-1d56-4423-965b-29729139804a" data-replo-repeated-index=".0.0.0" class="r-14hnnxd"><div data-rid="556d3161-c098-4702-b8bd-4230df52fd0d" data-replo-repeated-index=".0.0.0.0" class="r-1f6pcef alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Puoi pagare alla consegna</span></p></span></div><button data-rid="029a1b2d-fc8e-4eeb-82e1-07f098aac175" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="link" class="text r-mcp7nq alchemy-rte"><div data-rid="bf73bc6b-bb45-4cfb-a6f1-a01dd86e9d73" data-replo-repeated-index=".0.0.0.0.0" class="r-ygfjl7 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Risparmia fino al 25%</span></p></span></div></button><div data-rid="1d9fc57e-c44c-4eed-8ebf-4734613190a4" data-replo-repeated-index=".0.0.0.0" class="r-1p7zgvy alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Garanzia di Rimborso di 30 Giorni</span></p></span></div><div data-rid="14837d5b-63df-4858-aaee-d1a0f7ae090a" data-replo-repeated-index=".0.0.0.0" class="r-1p6trg9 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Spedizione GRATIS per ordini sopra €59</span></p></span></div></div></div><div data-rid="616bc331-ad4c-4223-9f6d-05f763dc47d3" data-replo-repeated-index=".0.0" data-alchemy-url-hashmark="lp-footer" id="lp-footer" data-alchemy-url-hashmark-ignore="true" class="r-9qvsl"><picture data-rid="efb963aa-f9c8-4c4c-9256-0a8f1d1a2bb7" data-replo-repeated-index=".0.0.0" class="r-1qlis92"><img src="https://cdn.shopify.com/s/files/1/0782/8593/0825/files/Logo_Orbis_2023_tinta_unita_1_1.svg?v=1712497179" class="r-189hvfw" loading="eager"/></picture><div data-rid="5e8b14db-a6a3-406f-b535-369b59d18639" data-replo-repeated-index=".0.0.0" class="r-1i9jsz8"><a data-rid="1adccb5a-5ff7-4886-9df7-0565abd7b465" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="link" class="r-9sl3z5 alchemy-rte" target="_blank" contenteditable="false" href="https://orbislifestyle.com/policies/privacy-policy" rel="noreferrer"><p><span>Politica sulla Privacy</span></p></a><a data-rid="74fc82ab-8494-4754-a6c1-3f58216107de" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="link" class="r-145g1ve alchemy-rte" target="_blank" contenteditable="false" href="https://orbislifestyle.com/policies/refund-policy" rel="noreferrer"><p><span>Politica di Rimborso</span></p></a><a data-rid="58f9481b-9b3f-4452-ac30-58bbec727f8a" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="link" class="r-1rzj5sd alchemy-rte" target="_blank" contenteditable="false" href="https://orbislifestyle.com/policies/terms-of-service" rel="noreferrer"><p><span>Condizioni d'Uso</span></p></a></div></div><div data-rid="4daa6cee-090a-4235-b9b1-3af2e744a00f" data-replo-repeated-index=".0.0" data-alchemy-url-hashmark="lp-sticky" id="lp-sticky" data-alchemy-url-hashmark-ignore="true" class="r-c1r1o8"><button data-rid="dfa97ec1-0324-44d5-b264-12af3595d967" data-replo-repeated-index=".0.0.0" tabindex="0" role="link" class="text r-jw8sx0 alchemy-rte"><div data-rid="ca55b813-2038-4dae-a087-a2155130c8f0" data-replo-repeated-index=".0.0.0.0" class="r-13150ei alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Risparmia fino al 25%</span></p></span></div></button></div><div data-rid="e6a6486e-d5fc-4e88-b7ad-7b247b0b017b" data-replo-repeated-index=".0.0" class="r-1tde2qu"><style>
p, span, h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0 !important;
}

#shop button[data-state='active'] > div {
    border: 2px solid !important;
    border-radius: 8px !important;
    border-image: linear-gradient(to right, #A3DEFF, #E9FFE7, #FFD5C6) 1 !important; /* Create linear gradient border */
}

#klavio-form form *{
    margin: 0 !important;
    padding: 0 !important;
    min-height: unset !important;
}

#klavio-form input::placeholder {
    font-size: 16px !important;
    padding-left: 20px !important;
    color: #101123 !important;
    font-weight: 400 !important;
}

#klavio-form input {
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
}

@media (min-width: 1024px) {
    #klavio-form button {
        border-radius: 100px !important;
        width: 165px;
        position: absolute;
        right: -20px;
    }
}

@media (max-width: 768px) {
#klavio-form .needsclick.kl-private-reset-css-Xuajs1 {
    flex-direction: column !important;
    row-gap: 8px !important;
}
#klavio-form button {
        width: 100% !important;
        border-radius: 100px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 40px !important;
    }
    #klavio-form input {
        border-radius: 100px !important;
        width: 100% !important;
        height: 40px !important;
    }

    #klavio-form .needsclick.kl-private-reset-css-Xuajs1 {
        width: 100% !important;
        min-height: 40px !important;
    }
}



</style></div><div data-rid="3b0c3add-21b4-4c95-9e53-d2041fefc84b" data-replo-repeated-index=".0.0" class="r-nbevf5"><script>
 window.addEventListener("DOMContentLoaded", (event) => {

  var lpHero = document.querySelector('#lp-hero');
  var lpSticky = document.querySelector('#lp-sticky');
  var lpFooter = document.querySelector('#lp-footer');
  var lpShop = document.querySelector('#shop');
  var isInViewport = function (elem) {
  
  var rect = elem.getBoundingClientRect();
  
    return (
      rect.bottom >= 0
      && rect.right >= 0
      && rect.top <= (window.innerHeight || document.documentElement.clientHeight)
      && rect.left <= (window.innerWidth || document.documentElement.clientWidth)
    );
  };

  var timer;
  window.addEventListener('scroll', function () {
    if(timer) {
      window.clearTimeout(timer);
    }

    timer = window.setTimeout(function() {

      if (isInViewport(lpHero) || isInViewport(lpShop) || isInViewport(lpFooter)) {
        if (lpSticky.classList.contains('sticky')) {
          lpSticky.classList.remove('sticky')
        }
      } else {
        if (!lpSticky.classList.contains('sticky')) {
          lpSticky.classList.add('sticky')
        }
      }
      
    }, 100);
  });
});

</script>

<style>
  body{
  overflow-x:hidden !important;
  }

    #lp-sticky{
        transition: 0.2s ease all;
           z-index: 999 !important;
        bottom: -78px !important;


    } 
    #lp-sticky.sticky {
        bottom: 0 !important;
        transition: 0.2s ease all;
    } 

</style>

<script>
let cartDrawer = document.querySelector('cart-drawer');
let miniCart = cartDrawer.querySelector('mini-cart');
document.body.append(cartDrawer);
cartDrawer.style.position = 'relative';
cartDrawer.style.zIndex = 1000;
cartDrawer.querySelector('summary').style.display = 'none';
</script></div></div></div></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"9034179051849","handle": "cogniwit-memoria-e-funzioni-cognitive-90-cps","data":{{ all_products['cogniwit-memoria-e-funzioni-cognitive-90-cps'] | json }}},{"id":"8778388635977","handle": "glutatione-setria","data":{{ all_products['glutatione-setria'] | json }}},{"id":"8822286942537","handle": "testowit-per-la-regolazione-ormonale","data":{{ all_products['testowit-per-la-regolazione-ormonale'] | json }}},{"id":"8778388898121","handle": "ansiwit-ashwagandha-ksm66-theanine","data":{{ all_products['ansiwit-ashwagandha-ksm66-theanine'] | json }}},{"id":"8778389258569","handle": "memowit","data":{{ all_products['memowit'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}
    <script id="replo-deps-element-id" data-id="137888792905"></script>
  {%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}