{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_129f585f-e76b-4b16-94b1-031c5e07671e = section.settings['replo_text_129f585f-e76b-4b16-94b1-031c5e07671e'] -%}
    {%- capture default_replo_text_129f585f-e76b-4b16-94b1-031c5e07671e -%}<p><span>TESTOWIT</span></p>{%- endcapture -%}
    {%- assign replo_text_129f585f-e76b-4b16-94b1-031c5e07671e = replo_text_129f585f-e76b-4b16-94b1-031c5e07671e | default: default_replo_text_129f585f-e76b-4b16-94b1-031c5e07671e -%}
    "replo_text_129f585f-e76b-4b16-94b1-031c5e07671e": {{ replo_text_129f585f-e76b-4b16-94b1-031c5e07671e | json }}, {%- assign replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb = section.settings['replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb'] -%}
    {%- capture default_replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb -%}<p><span>ANSIWIT</span></p>{%- endcapture -%}
    {%- assign replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb = replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb | default: default_replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb -%}
    "replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb": {{ replo_text_8a6c08b8-d7d3-4cdf-947c-37aeb91315eb | json }}, {%- assign replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c = section.settings['replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c'] -%}
    {%- capture default_replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c -%}<p><span>NEUROWIT</span></p>{%- endcapture -%}
    {%- assign replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c = replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c | default: default_replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c -%}
    "replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c": {{ replo_text_3b45d88b-6fca-4f95-96c5-5b5deccedc6c | json }}, {%- assign replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58 = section.settings['replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58'] -%}
    {%- capture default_replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58 -%}<p><span>MEMOWIT</span></p>{%- endcapture -%}
    {%- assign replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58 = replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58 | default: default_replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58 -%}
    "replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58": {{ replo_text_0d5f6582-cad5-4a0b-b6e6-08205c6ebf58 | json }}, {%- assign replo_text_8f359a06-d125-4358-aea3-c2c7353d9314 = section.settings['replo_text_8f359a06-d125-4358-aea3-c2c7353d9314'] -%}
    {%- capture default_replo_text_8f359a06-d125-4358-aea3-c2c7353d9314 -%}<p><span>FERMENTCARB</span></p>{%- endcapture -%}
    {%- assign replo_text_8f359a06-d125-4358-aea3-c2c7353d9314 = replo_text_8f359a06-d125-4358-aea3-c2c7353d9314 | default: default_replo_text_8f359a06-d125-4358-aea3-c2c7353d9314 -%}
    "replo_text_8f359a06-d125-4358-aea3-c2c7353d9314": {{ replo_text_8f359a06-d125-4358-aea3-c2c7353d9314 | json }}, {%- assign replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c = section.settings['replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c'] -%}
    {%- capture default_replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c -%}<p><span>VITADETOX</span></p>{%- endcapture -%}
    {%- assign replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c = replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c | default: default_replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c -%}
    "replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c": {{ replo_text_308891f1-66e0-4d43-bbb6-da49cfd1584c | json }}, {%- assign replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde = section.settings['replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde'] -%}
    {%- capture default_replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde -%}<p><span>FRESCA</span></p>{%- endcapture -%}
    {%- assign replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde = replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde | default: default_replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde -%}
    "replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde": {{ replo_text_a5d7d266-26c2-4b19-a65e-7a67a6fa7bde | json }}, {%- assign replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995 = section.settings['replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995'] -%}
    {%- capture default_replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995 -%}<p><span>GLUTADETOX</span></p>{%- endcapture -%}
    {%- assign replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995 = replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995 | default: default_replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995 -%}
    "replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995": {{ replo_text_80d2e8e0-7229-4f76-bf5f-98295c560995 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}