width:100%"><p><span>Pagamento alla consegna disponibile</span></p></span></div><button data-rid="e5956ed2-f520-4ce8-ac13-3d4d5da3d4ec" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="link" class="text r-tdi3ue alchemy-rte"><div data-rid="ca460643-75ea-4be8-beb9-3a1895fcaee2" data-replo-repeated-index=".0.0.0.0.0" class="r-8wohhj alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Risparmia fino al 25%</span></p></span></div></button><div data-rid="b12ee2c7-c49f-4099-97bf-80f0e5e1c80f" data-replo-repeated-index=".0.0.0.0" class="r-4atikr alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Garanzia di Rimborso di 30 Giorni</span></p></span></div><div data-rid="49cf2c97-d7af-480c-8ae4-84c9626193a8" data-replo-repeated-index=".0.0.0.0" class="r-qoaijc alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Spedizione GRATIS per ordini sopra €59</span></p></span></div></div></div><div data-rid="e60ebd7c-e133-4798-8944-7218c1ea6694" data-replo-repeated-index=".0.0" data-alchemy-url-hashmark="lp-sticky" id="lp-sticky" data-alchemy-url-hashmark-ignore="true" class="r-1sdybv5"><button data-rid="271ebec1-73cb-480c-ba28-c08e32d622b5" data-replo-repeated-index=".0.0.0" tabindex="0" role="link" class="text r-1s9tb9s alchemy-rte"><div data-rid="ec1b8aac-bce0-4251-968a-e8231b4ffe23" data-replo-repeated-index=".0.0.0.0" class="r-4thca0 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Risparmia fino al 25%</span></p></span></div></button></div><div data-rid="1e0eb503-fe6e-4d88-96d0-4f1ca6c6e47b" data-replo-repeated-index=".0.0" class="r-129fcwd"><style>
p, span, h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0 !important;
}

#shop button[data-state='active'] > div {
    border: 2px solid !important;
    border-radius: 8px !important;
    border-image: linear-gradient(to right, #A3DEFF, #E9FFE7, #FFD5C6) 1 !important; /* Create linear gradient border */
}

#klavio-form form *{
    margin: 0 !important;
    padding: 0 !important;
    min-height: unset !important;
}

#klavio-form input::placeholder {
    font-size: 16px !important;
    padding-left: 20px !important;
    color: #101123 !important;
    font-weight: 400 !important;
}

#klavio-form input {
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
}

@media (min-width: 1024px) {
    #klavio-form button {
        border-radius: 100px !important;
        width: 165px;
        position: absolute;
        right: -20px;
    }
}

@media (max-width: 768px) {
#klavio-form .needsclick.kl-private-reset-css-Xuajs1 {
    flex-direction: column !important;
    row-gap: 8px !important;
}
#klavio-form button {
        width: 100% !important;
        border-radius: 100px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 40px !important;
    }
    #klavio-form input {
        border-radius: 100px !important;
        width: 100% !important;
        height: 40px !important;
    }

    #klavio-form .needsclick.kl-private-reset-css-Xuajs1 {
        width: 100% !important;
        min-height: 40px !important;
    }
}

@media (max-width: 372px) {

div#klavio-form {
    display: block !important;
    flex-direction: column !important;
}

.r-1ppkzxd.alchemy-rte.w3_bg {
    margin-bottom: 20px !important;
}
}
</style></div><div data-rid="ef6be16d-649e-44e9-8e45-1871e40bf3da" data-replo-repeated-index=".0.0" class="r-1p715id"><script>
 window.addEventListener("DOMContentLoaded", (event) => {

  var lpSticky = document.querySelector('#lp-sticky');
  var lpFooter = document.querySelector('.site-footer');
  var lpShop = document.querySelector('#shop');
  var isInViewport = function (elem) {
  
  var rect = elem.getBoundingClientRect();
  
    return (
      rect.bottom >= 0
      && rect.right >= 0
      && rect.top <= (window.innerHeight || document.documentElement.clientHeight)
      && rect.left <= (window.innerWidth || document.documentElement.clientWidth)
    );
  };

  var timer;
  window.addEventListener('scroll', function () {
    if(timer) {
      window.clearTimeout(timer);
    }

    timer = window.setTimeout(function() {

      if (isInViewport(lpShop) || isInViewport(lpFooter)) {
        if (lpSticky.classList.contains('sticky')) {
          lpSticky.classList.remove('sticky')
        }
      } else {
        if (!lpSticky.classList.contains('sticky')) {
          lpSticky.classList.add('sticky')
        }
      }
      
    }, 100);
  });
});

</script>

<style>
  body{
  overflow-x:hidden !important;
  }

    #lp-sticky{
        transition: 0.2s ease all;
           z-index: 999 !important;
        bottom: -78px !important;


    } 
    #lp-sticky.sticky {
        bottom: 0 !important;
        transition: 0.2s ease all;
    } 

</style>

<script>
let cartDrawer = document.querySelector('cart-drawer');
let miniCart = cartDrawer.querySelector('mini-cart');
document.body.append(cartDrawer);
cartDrawer.style.position = 'relative';
cartDrawer.style.zIndex = 1000;
cartDrawer.querySelector('summary').style.display = 'none';
</script></div></div></div></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"8778388635977","handle": "glutatione-setria","data":{{ all_products['glutatione-setria'] | json }}},{"id":"8822286942537","handle": "testowit-per-la-regolazione-ormonale","data":{{ all_products['testowit-per-la-regolazione-ormonale'] | json }}},{"id":"9034179051849","handle": "neurowit-memoria-e-funzioni-cognitive-90-cps","data":{{ all_products['neurowit-memoria-e-funzioni-cognitive-90-cps'] | json }}},{"id":"8778388898121","handle": "ansiwit-ashwagandha-ksm66-theanine","data":{{ all_products['ansiwit-ashwagandha-ksm66-theanine'] | json }}},{"id":"8778389258569","handle": "memowit","data":{{ all_products['memowit'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}
    <script id="replo-deps-element-id" data-id="139083317577"></script>
  {%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}