{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9 = section.settings['replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9'] -%}
    {%- capture default_replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9 -%}<p>🥵 Stress Management</p>{%- endcapture -%}
    {%- assign replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9 = replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9 | default: default_replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9 -%}
    "replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9": {{ replo_text_6eb11980-86c9-4504-8a4b-9403bdad05f9 | json }}, {%- assign replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07 = section.settings['replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07'] -%}
    {%- capture default_replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07 -%}<p>To manage mood swings, insomnia and other pressures of modern life.</p>{%- endcapture -%}
    {%- assign replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07 = replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07 | default: default_replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07 -%}
    "replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07": {{ replo_text_ffd8e659-ed1f-4c14-a8d2-283a9092be07 | json }}, {%- assign replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c = section.settings['replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c'] -%}
    {%- capture default_replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c -%}<p>🌿 Detox &amp; Immunity</p>{%- endcapture -%}
    {%- assign replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c = replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c | default: default_replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c -%}
    "replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c": {{ replo_text_1b5c7f85-1dda-4898-b2d5-08565a7be74c | json }}, {%- assign replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc = section.settings['replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc'] -%}
    {%- capture default_replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc -%}<p>To manage mood swings, insomnia and other pressures of modern life.</p>{%- endcapture -%}
    {%- assign replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc = replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc | default: default_replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc -%}
    "replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc": {{ replo_text_cdc989cf-2b77-4f4d-ae84-9c4a0f47f9bc | json }}, {%- assign replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7 = section.settings['replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7'] -%}
    {%- capture default_replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7 -%}<p>⚡️ Energy &amp; Libido</p>{%- endcapture -%}
    {%- assign replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7 = replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7 | default: default_replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7 -%}
    "replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7": {{ replo_text_bcf475cb-0404-48a6-9a15-4dede2acd9a7 | json }}, {%- assign replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc = section.settings['replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc'] -%}
    {%- capture default_replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc -%}<p>To manage mood swings, insomnia and other pressures of modern life.</p>{%- endcapture -%}
    {%- assign replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc = replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc | default: default_replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc -%}
    "replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc": {{ replo_text_fc75ab9a-460e-444e-8e5c-7d32a341d4cc | json }}, {%- assign replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e = section.settings['replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e'] -%}
    {%- capture default_replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e = replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e | default: default_replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e -%}
    "replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e": {{ replo_text_28fb5117-0e41-454f-bdc6-0ebd94e8fb0e | json }}, {%- assign replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb = section.settings['replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb'] -%}
    {%- capture default_replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb = replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb | default: default_replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb -%}
    "replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb": {{ replo_text_e21ac012-ba0a-4710-af20-573ca7bfaabb | json }}, {%- assign replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e = section.settings['replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e'] -%}
    {%- capture default_replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e = replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e | default: default_replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e -%}
    "replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e": {{ replo_text_a0e305d2-0a0a-42e1-98da-dde864b7210e | json }}, {%- assign replo_text_3e132820-56d0-4724-b34a-908ad18cf58d = section.settings['replo_text_3e132820-56d0-4724-b34a-908ad18cf58d'] -%}
    {%- capture default_replo_text_3e132820-56d0-4724-b34a-908ad18cf58d -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_3e132820-56d0-4724-b34a-908ad18cf58d = replo_text_3e132820-56d0-4724-b34a-908ad18cf58d | default: default_replo_text_3e132820-56d0-4724-b34a-908ad18cf58d -%}
    "replo_text_3e132820-56d0-4724-b34a-908ad18cf58d": {{ replo_text_3e132820-56d0-4724-b34a-908ad18cf58d | json }}, {%- assign replo_text_d181b229-875f-4433-8b20-85987450282a = section.settings['replo_text_d181b229-875f-4433-8b20-85987450282a'] -%}
    {%- capture default_replo_text_d181b229-875f-4433-8b20-85987450282a -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_d181b229-875f-4433-8b20-85987450282a = replo_text_d181b229-875f-4433-8b20-85987450282a | default: default_replo_text_d181b229-875f-4433-8b20-85987450282a -%}
    "replo_text_d181b229-875f-4433-8b20-85987450282a": {{ replo_text_d181b229-875f-4433-8b20-85987450282a | json }}, {%- assign replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55 = section.settings['replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55'] -%}
    {%- capture default_replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55 -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55 = replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55 | default: default_replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55 -%}
    "replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55": {{ replo_text_4185cb8e-39d5-4ff8-89d3-caddf6a82f55 | json }}, {%- assign replo_text_8970fa6c-42cd-4780-9009-e948973f4a77 = section.settings['replo_text_8970fa6c-42cd-4780-9009-e948973f4a77'] -%}
    {%- capture default_replo_text_8970fa6c-42cd-4780-9009-e948973f4a77 -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_8970fa6c-42cd-4780-9009-e948973f4a77 = replo_text_8970fa6c-42cd-4780-9009-e948973f4a77 | default: default_replo_text_8970fa6c-42cd-4780-9009-e948973f4a77 -%}
    "replo_text_8970fa6c-42cd-4780-9009-e948973f4a77": {{ replo_text_8970fa6c-42cd-4780-9009-e948973f4a77 | json }}, {%- assign replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3 = section.settings['replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3'] -%}
    {%- capture default_replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3 -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3 = replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3 | default: default_replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3 -%}
    "replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3": {{ replo_text_ed7eba93-9d6f-4ed5-b1a9-ad8a0e43cca3 | json }}, {%- assign replo_text_0b6b78be-c49d-4de5-a514-ef02121af590 = section.settings['replo_text_0b6b78be-c49d-4de5-a514-ef02121af590'] -%}
    {%- capture default_replo_text_0b6b78be-c49d-4de5-a514-ef02121af590 -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_0b6b78be-c49d-4de5-a514-ef02121af590 = replo_text_0b6b78be-c49d-4de5-a514-ef02121af590 | default: default_replo_text_0b6b78be-c49d-4de5-a514-ef02121af590 -%}
    "replo_text_0b6b78be-c49d-4de5-a514-ef02121af590": {{ replo_text_0b6b78be-c49d-4de5-a514-ef02121af590 | json }}, {%- assign replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593 = section.settings['replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593'] -%}
    {%- capture default_replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593 -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593 = replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593 | default: default_replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593 -%}
    "replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593": {{ replo_text_50598afe-bd84-49fd-bcfe-90fa828ae593 | json }}, {%- assign replo_text_78413672-fe19-4551-a58d-ec522d988d4b = section.settings['replo_text_78413672-fe19-4551-a58d-ec522d988d4b'] -%}
    {%- capture default_replo_text_78413672-fe19-4551-a58d-ec522d988d4b -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_78413672-fe19-4551-a58d-ec522d988d4b = replo_text_78413672-fe19-4551-a58d-ec522d988d4b | default: default_replo_text_78413672-fe19-4551-a58d-ec522d988d4b -%}
    "replo_text_78413672-fe19-4551-a58d-ec522d988d4b": {{ replo_text_78413672-fe19-4551-a58d-ec522d988d4b | json }}, {%- assign replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90 = section.settings['replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90'] -%}
    {%- capture default_replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90 -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90 = replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90 | default: default_replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90 -%}
    "replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90": {{ replo_text_2c9951dc-76bb-45f2-b9a0-f16c4488da90 | json }}, {%- assign replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0 = section.settings['replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0'] -%}
    {%- capture default_replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0 -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0 = replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0 | default: default_replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0 -%}
    "replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0": {{ replo_text_5646f335-8d00-4e7a-b56e-c2ba546a8cd0 | json }}, {%- assign replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d = section.settings['replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d'] -%}
    {%- capture default_replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d = replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d | default: default_replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d -%}
    "replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d": {{ replo_text_6ae82432-ffb4-47e6-a644-35c7c60c672d | json }}, {%- assign replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43 = section.settings['replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43'] -%}
    {%- capture default_replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43 -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43 = replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43 | default: default_replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43 -%}
    "replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43": {{ replo_text_ab661a2b-0580-46d2-981b-40fd08fc4f43 | json }}, {%- assign replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b = section.settings['replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b'] -%}
    {%- capture default_replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b = replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b | default: default_replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b -%}
    "replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b": {{ replo_text_e48be983-5a15-43c1-91fc-7ac8fad0f38b | json }}, {%- assign replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3 = section.settings['replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3'] -%}
    {%- capture default_replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3 -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3 = replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3 | default: default_replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3 -%}
    "replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3": {{ replo_text_7c4efc9d-2d55-4c01-a569-c7f04c6ee7e3 | json }}, {%- assign replo_text_3bd3c514-aa58-4349-853a-dfba40249132 = section.settings['replo_text_3bd3c514-aa58-4349-853a-dfba40249132'] -%}
    {%- capture default_replo_text_3bd3c514-aa58-4349-853a-dfba40249132 -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_3bd3c514-aa58-4349-853a-dfba40249132 = replo_text_3bd3c514-aa58-4349-853a-dfba40249132 | default: default_replo_text_3bd3c514-aa58-4349-853a-dfba40249132 -%}
    "replo_text_3bd3c514-aa58-4349-853a-dfba40249132": {{ replo_text_3bd3c514-aa58-4349-853a-dfba40249132 | json }}, {%- assign replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6 = section.settings['replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6'] -%}
    {%- capture default_replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6 -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6 = replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6 | default: default_replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6 -%}
    "replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6": {{ replo_text_5e5fc033-b052-4df4-9b4f-f7b178feb8f6 | json }}, {%- assign replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d = section.settings['replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d'] -%}
    {%- capture default_replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d = replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d | default: default_replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d -%}
    "replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d": {{ replo_text_9c3ece85-03c7-41c5-b01a-e216bfa4bb7d | json }}, {%- assign replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577 = section.settings['replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577'] -%}
    {%- capture default_replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577 -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577 = replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577 | default: default_replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577 -%}
    "replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577": {{ replo_text_a1ff742b-e74a-466e-9c09-b4b9a5674577 | json }}, {%- assign replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a = section.settings['replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a'] -%}
    {%- capture default_replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a = replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a | default: default_replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a -%}
    "replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a": {{ replo_text_b3e19c64-6afd-45be-aed0-55eec234e03a | json }}, {%- assign replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94 = section.settings['replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94'] -%}
    {%- capture default_replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94 -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94 = replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94 | default: default_replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94 -%}
    "replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94": {{ replo_text_3c23d4d0-f85d-4aa0-9183-8150f43f5d94 | json }}, {%- assign replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282 = section.settings['replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282'] -%}
    {%- capture default_replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282 -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282 = replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282 | default: default_replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282 -%}
    "replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282": {{ replo_text_e248fed2-b4ea-4189-b992-d44d4b7fa282 | json }}, {%- assign replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492 = section.settings['replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492'] -%}
    {%- capture default_replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492 -%}<p>4.7/5.0</p>{%- endcapture -%}
    {%- assign replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492 = replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492 | default: default_replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492 -%}
    "replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492": {{ replo_text_59f6ce53-dfdf-47d9-977d-31f7fdbbc492 | json }}, {%- assign replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2 = section.settings['replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2'] -%}
    {%- capture default_replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2 -%}<p><span>Quick add</span></p>{%- endcapture -%}
    {%- assign replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2 = replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2 | default: default_replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2 -%}
    "replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2": {{ replo_text_ff50c04d-05ff-4c56-b70d-a7083849d3b2 | json }}, {%- assign replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab = section.settings['replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab'] -%}
    {%- capture default_replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab -%}<p>Vedi Prodotto</p>{%- endcapture -%}
    {%- assign replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab = replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab | default: default_replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab -%}
    "replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab": {{ replo_text_b71277fc-9cbb-4130-9b2a-f40f9bb872ab | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}