{{ 'home-hero.css' | asset_url | stylesheet_tag }}

{% liquid
    assign obj = section.settings
    assign trustReview = obj.trustpilot_text 
    assign sectionTitle = obj.hero_title
    assign sectionSubtitle = obj.hero_subtitle
    assign heroBadge = obj.hero_badge
    assign heroBgImage = obj.hero_bg_image
    assign heroMobImage = obj.hero_image
    assign heroButtonLink = obj.hero_button_url
    assign heroButtonText = obj.hero_button_text
    assign heroReviewAuthor = obj.hero_review_author_image
    assign heroReviewAuthorName = obj.hero_review_author
    assign heroReviewTitle = obj.hero_review_title
    assign heroReviewText = obj.hero_review_content
    assign heroAuthorImage = obj.hero_author_image
    assign heroReviewNumber = obj.hero_review_number
    assign heroReviewLocation = obj.hero_review_location
    assign heroReviewDate = obj.hero_review_date
    assign heroReviewExperiance = obj.hero_review_experiance

%}

<section class="b-hero product-section">
    <div class="l">
        <div class="b-hero__wrapper">
            <div class="b-hero__left-container">
                {% if trustReview %}
                    <div class="b-hero__trustreview">
                        <div class="b-hero__trustreview-stars">
                        <svg width="114" height="22" viewBox="0 0 114 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M11.1667 0L14.3996 6.55041L21.6284 7.60081L16.3976 12.6996L17.6324 19.8992L11.1667 16.5L4.70111 19.8992L5.93594 12.6996L0.705127 7.60081L7.93393 6.55041L11.1667 0Z" fill="black"/>
                          <path d="M34.0835 0L37.3163 6.55041L44.5451 7.60081L39.3143 12.6996L40.5491 19.8992L34.0835 16.5L27.6179 19.8992L28.8527 12.6996L23.6219 7.60081L30.8507 6.55041L34.0835 0Z" fill="black"/>
                          <path d="M57 0L60.2328 6.55041L67.4616 7.60081L62.2308 12.6996L63.4656 19.8992L57 16.5L50.5344 19.8992L51.7692 12.6996L46.5384 7.60081L53.7672 6.55041L57 0Z" fill="black"/>
                          <path d="M79.9167 0L83.1496 6.55041L90.3784 7.60081L85.1476 12.6996L86.3824 19.8992L79.9167 16.5L73.4511 19.8992L74.6859 12.6996L69.4551 7.60081L76.6839 6.55041L79.9167 0Z" fill="black"/>
                          <path d="M102.833 0L106.066 6.55041L113.295 7.60081L108.064 12.6996L109.299 19.8992L102.833 16.5L96.3679 19.8992L97.6027 12.6996L92.3719 7.60081L99.6007 6.55041L102.833 0Z" fill="url(#paint0_linear_295_199)"/>
                          <defs>
                          <linearGradient id="paint0_linear_295_199" x1="91.8335" y1="11" x2="113.833" y2="11" gradientUnits="userSpaceOnUse">
                          <stop offset="0.5"/>
                          <stop offset="0.5" stop-color="#D1D1D1"/>
                          </linearGradient>
                          </defs>
                          </svg>

                        </div>
                        <div class="b-hero__trustreview-text underline-text">{{ trustReview }}</div>
                        
                        
                    </div>
                {% endif %}
        
                <h1 class="b-hero__title">{{ sectionTitle }}</h1>
                <p class="b-hero__subtitle">{{ sectionSubtitle }}</p>
        
                 <div class="b-hero__bullets-container">
                    {% for block in section.blocks %}
                         {% liquid  
                            assign bulletIcon = block.settings.hero_bullet_icon 
                            assign bulletText = block.settings.hero_bullet_text
                        %}
                        <div class="b-hero__bullet-container">
                            <div class="b-hero__bullet-icon">
                                {{ bulletIcon | image_url: width: auto | image_tag: class: 'b-hero__bullet-icon-img'}}
                            </div>
                            <div class="b-hero__bullet-text">{{ bulletText }}</div>
                        </div>
                    {% endfor %}
                 </div>
        
                 {% if heroButtonLink != blank %}
                      <div class="b-hero__button-wrapper pdp-btn--wrapper"> 
                        <div class="b-hero__button">
                        <a
                          href="{{ heroButtonLink }}"
                          title="{{ heroButtonText }}"
                          class="b-hero-btn b-hero--main pdp-btn">{{ heroButtonText }}</a>
                      </div>
                      </div>
                 {% endif %}
        
                <div class="b-hero-review__box-container">
                    <div class="b-hero-review__box-container-header">
                        <div class="b-review__author">
                            {% if heroReviewAuthor %}
                                {{ heroReviewAuthor | image_url: width: auto | image_tag: class: 'b-review__author-img'}}
                            {% endif %}
                                <div class="b-hero-review__box-header-left">
                                    <div class="b-hero-review__author-name">{{ heroReviewAuthorName }}</div>
                                    <div class="b-hero-reviews__box-header-bottom">
                                        <span>{{ heroReviewNumber }}</span>
                                        <span>
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.3598L7.42067 11.8858C7.898 11.3396 8.32756 10.8198 8.70933 10.3265L9.02467 9.9105C10.3416 8.13673 11 6.72939 11 5.6885C11 3.46717 9.20933 1.6665 7 1.6665C4.79067 1.6665 3 3.46717 3 5.6885C3 6.72939 3.65844 8.13695 4.97533 9.91117L5.29067 10.3272C5.8357 11.0254 6.40585 11.7029 7 12.3598Z" stroke="black" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M6.99998 7.33333C7.92045 7.33333 8.66665 6.58714 8.66665 5.66667C8.66665 4.74619 7.92045 4 6.99998 4C6.07951 4 5.33331 4.74619 5.33331 5.66667C5.33331 6.58714 6.07951 7.33333 6.99998 7.33333Z" stroke="black" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                                
                                        {{ heroReviewLocation }}</span>
                                    </div>      
                                </div>
                                                         
        
                        </div>
                    </div>
                    <div class="b-hero-review__box-container-body">
                       <div class="b-hero-review__box-stars">
                        <svg width="73" height="14" viewBox="0 0 73 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 0L9.05725 4.16844L13.6574 4.83688L10.3287 8.08156L11.1145 12.6631L7 10.5L2.8855 12.6631L3.6713 8.08156L0.342604 4.83688L4.94275 4.16844L7 0Z" fill="black"/>
                        <path d="M21.583 0L23.6403 4.16844L28.2404 4.83688L24.9117 8.08156L25.6975 12.6631L21.583 10.5L17.4685 12.6631L18.2543 8.08156L14.9256 4.83688L19.5258 4.16844L21.583 0Z" fill="black"/>
                        <path d="M36.1665 0L38.2238 4.16844L42.8239 4.83688L39.4952 8.08156L40.281 12.6631L36.1665 10.5L32.052 12.6631L32.8378 8.08156L29.5091 4.83688L34.1093 4.16844L36.1665 0Z" fill="black"/>
                        <path d="M50.75 0L52.8072 4.16844L57.4074 4.83688L54.0787 8.08156L54.8645 12.6631L50.75 10.5L46.6355 12.6631L47.4213 8.08156L44.0926 4.83688L48.6928 4.16844L50.75 0Z" fill="black"/>
                        <path d="M65.333 0L67.3903 4.16844L71.9904 4.83688L68.6617 8.08156L69.4475 12.6631L65.333 10.5L61.2185 12.6631L62.0043 8.08156L58.6756 4.83688L63.2758 4.16844L65.333 0Z" fill="black"/>
                        </svg>

                            <div class="b-hero-review__box-container-body-date">{{ heroReviewDate }}</div>
                        </div>
        
                        <div class="b-hero-review__box-container-body-title">
                            {{ heroReviewTitle}}
                        </div>
                        <div class="b-hero-review__box-container-body-content">
                            {{ heroReviewText }}
                        </div>
        
                        {% if heroReviewExperiance %} 
                        <div class="b-hero-review__box-container-body-experiance">
                                {{ heroReviewExperiance }}
                        </div>
                        {% endif %}
                    </div>
                    <svg class='share-like share-link-desk' width="467" height="14" viewBox="0 0 467 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.74998 5.8331L8.31831 5.76135C8.30789 5.82402 8.31125 5.88821 8.32815 5.94946C8.34504 6.0107 8.37507 6.06753 8.41615 6.11599C8.45723 6.16446 8.50838 6.20339 8.56603 6.23009C8.62368 6.25679 8.68645 6.27062 8.74998 6.2706V5.8331ZM2.33331 5.8331V5.3956C2.21728 5.3956 2.106 5.4417 2.02395 5.52374C1.94191 5.60579 1.89581 5.71707 1.89581 5.8331H2.33331ZM3.49998 12.1039H10.1266V11.2289H3.49998V12.1039ZM10.8266 5.3956H8.74998V6.2706H10.8266V5.3956ZM9.18165 5.90485L9.65181 3.08444L8.78848 2.94035L8.31831 5.76135L9.18165 5.90485ZM8.64498 1.8956H8.52015V2.7706H8.6444L8.64498 1.8956ZM6.69956 2.86977L5.23248 5.07069L5.96048 5.55602L7.42756 3.3551L6.69956 2.86977ZM4.62581 5.3956H2.33331V6.2706H4.62581V5.3956ZM1.89581 5.8331V10.4998H2.77081V5.8331H1.89581ZM11.6999 10.8148L12.3999 7.31477L11.5424 7.14269L10.8424 10.6427L11.6999 10.8148ZM5.23248 5.07069C5.16592 5.1706 5.07572 5.25195 4.96989 5.30864C4.86406 5.36532 4.74587 5.39499 4.62581 5.39502V6.27002C5.16248 6.27002 5.66298 6.00227 5.96048 5.55602L5.23248 5.07069ZM9.65181 3.08444C9.67612 2.93823 9.6683 2.78791 9.6289 2.64504C9.58949 2.50216 9.51945 2.36958 9.42364 2.25651C9.32783 2.14343 9.20855 2.05257 9.07408 1.99025C8.93961 1.92793 8.79319 1.89563 8.64498 1.8956L8.6444 2.7706C8.66554 2.77065 8.687 2.7753 8.70617 2.78423C8.72534 2.79315 8.74234 2.80614 8.75599 2.82229C8.76964 2.83844 8.77962 2.85736 8.78523 2.87774C8.79084 2.89813 8.79195 2.91949 8.78848 2.94035L9.65181 3.08444ZM10.8266 6.27002C11.2875 6.27002 11.6316 6.69119 11.5418 7.1421L12.3999 7.31419C12.4463 7.08149 12.4405 6.84081 12.383 6.61062C12.3254 6.38043 12.2175 6.16587 12.067 5.98241C11.9165 5.79895 11.7272 5.65116 11.5127 5.54969C11.2983 5.44822 11.0639 5.39559 10.8266 5.3956V6.27002ZM10.1266 12.1039C10.4975 12.104 10.8569 11.975 11.1437 11.74C11.4305 11.5049 11.6271 11.1778 11.6999 10.8142L10.8424 10.6421C10.8093 10.8075 10.7199 10.9564 10.5894 11.0633C10.4589 11.1702 10.2954 11.2291 10.1266 11.2289V12.1039ZM8.52015 1.8956C8.16003 1.89563 7.8055 1.98398 7.48801 2.15391C7.17052 2.32385 6.89989 2.56955 6.70015 2.86919L7.42756 3.3551C7.54746 3.17524 7.70993 3.02719 7.90054 2.92522C8.09114 2.82325 8.30398 2.77052 8.52015 2.7706V1.8956ZM3.49998 11.2289C3.09748 11.2289 2.77081 10.9023 2.77081 10.4998H1.89581C1.89581 10.9252 2.06482 11.3332 2.36566 11.6341C2.6665 11.9349 3.07453 12.1039 3.49998 12.1039V11.2289Z" fill="black"/>
                    <path d="M4.66663 5.83301V11.6663" stroke="black" stroke-width="0.875"/>
                    <path d="M19.47 3.01V7.41C19.47 8.10333 19.6333 8.61667 19.96 8.95C20.2933 9.28333 20.7467 9.45 21.32 9.45C21.8933 9.45 22.34 9.28667 22.66 8.96C22.9867 8.62667 23.15 8.11 23.15 7.41V3.01H23.85V7.4C23.85 8.28667 23.6133 8.95333 23.14 9.4C22.6733 9.84667 22.0633 10.07 21.31 10.07C20.5567 10.07 19.9433 9.84667 19.47 9.4C19.0033 8.95333 18.77 8.28667 18.77 7.4V3.01H19.47ZM27.2913 10.08C26.6647 10.08 26.1513 9.93667 25.7513 9.65C25.358 9.35667 25.138 8.96 25.0913 8.46H25.8113C25.8447 8.76667 25.988 9.01667 26.2413 9.21C26.5013 9.39667 26.848 9.49 27.2813 9.49C27.6613 9.49 27.958 9.4 28.1713 9.22C28.3913 9.04 28.5013 8.81667 28.5013 8.55C28.5013 8.36333 28.4413 8.21 28.3213 8.09C28.2013 7.97 28.048 7.87667 27.8613 7.81C27.6813 7.73667 27.4347 7.66 27.1213 7.58C26.7147 7.47333 26.3847 7.36667 26.1313 7.26C25.878 7.15333 25.6613 6.99667 25.4813 6.79C25.308 6.57667 25.2213 6.29333 25.2213 5.94C25.2213 5.67333 25.3013 5.42667 25.4613 5.2C25.6213 4.97333 25.848 4.79333 26.1413 4.66C26.4347 4.52667 26.768 4.46 27.1413 4.46C27.728 4.46 28.2013 4.61 28.5613 4.91C28.9213 5.20333 29.1147 5.61 29.1413 6.13H28.4413C28.4213 5.81 28.2947 5.55333 28.0613 5.36C27.8347 5.16 27.5213 5.06 27.1213 5.06C26.768 5.06 26.4813 5.14333 26.2613 5.31C26.0413 5.47667 25.9313 5.68333 25.9313 5.93C25.9313 6.14333 25.9947 6.32 26.1213 6.46C26.2547 6.59333 26.418 6.7 26.6113 6.78C26.8047 6.85333 27.0647 6.93667 27.3913 7.03C27.7847 7.13667 28.098 7.24 28.3313 7.34C28.5647 7.44 28.7647 7.58667 28.9313 7.78C29.098 7.97333 29.1847 8.23 29.1913 8.55C29.1913 8.84333 29.1113 9.10667 28.9513 9.34C28.7913 9.56667 28.568 9.74667 28.2813 9.88C27.9947 10.0133 27.6647 10.08 27.2913 10.08ZM35.449 6.99C35.449 7.23 35.4423 7.41333 35.429 7.54H30.899C30.919 7.95333 31.019 8.30667 31.199 8.6C31.379 8.89333 31.6157 9.11667 31.909 9.27C32.2023 9.41667 32.5223 9.49 32.869 9.49C33.3223 9.49 33.7023 9.38 34.009 9.16C34.3223 8.94 34.529 8.64333 34.629 8.27H35.369C35.2357 8.80333 34.949 9.24 34.509 9.58C34.0757 9.91333 33.529 10.08 32.869 10.08C32.3557 10.08 31.8957 9.96667 31.489 9.74C31.0823 9.50667 30.7623 9.18 30.529 8.76C30.3023 8.33333 30.189 7.83667 30.189 7.27C30.189 6.70333 30.3023 6.20667 30.529 5.78C30.7557 5.35333 31.0723 5.02667 31.479 4.8C31.8857 4.57333 32.349 4.46 32.869 4.46C33.389 4.46 33.8423 4.57333 34.229 4.8C34.6223 5.02667 34.9223 5.33333 35.129 5.72C35.3423 6.1 35.449 6.52333 35.449 6.99ZM34.739 6.97C34.7457 6.56333 34.6623 6.21667 34.489 5.93C34.3223 5.64333 34.0923 5.42667 33.799 5.28C33.5057 5.13333 33.1857 5.06 32.839 5.06C32.319 5.06 31.8757 5.22667 31.509 5.56C31.1423 5.89333 30.939 6.36333 30.899 6.97H34.739ZM38.8797 5.13H37.6097V10H36.9097V5.13H36.1497V4.54H36.9097V4.16C36.9097 3.56667 37.0597 3.13 37.3597 2.85C37.6664 2.57 38.1597 2.43 38.8397 2.43V3.03C38.3864 3.03 38.0664 3.11667 37.8797 3.29C37.6997 3.46333 37.6097 3.75333 37.6097 4.16V4.54H38.8797V5.13ZM44.7116 4.54V10H44.0116V9.04C43.8516 9.38 43.605 9.64 43.2716 9.82C42.9383 10 42.565 10.09 42.1516 10.09C41.4983 10.09 40.965 9.89 40.5516 9.49C40.1383 9.08333 39.9316 8.49667 39.9316 7.73V4.54H40.6216V7.65C40.6216 8.24333 40.7683 8.69667 41.0616 9.01C41.3616 9.32333 41.7683 9.48 42.2816 9.48C42.8083 9.48 43.2283 9.31333 43.5416 8.98C43.855 8.64667 44.0116 8.15667 44.0116 7.51V4.54H44.7116ZM47.0098 2.6V10H46.3098V2.6H47.0098Z" fill="#101123"/>
                    <path d="M69.6892 12.25C69.3026 12.25 68.9746 12.1149 68.7051 11.8446C68.436 11.5739 68.3014 11.2453 68.3014 10.8587C68.3014 10.8004 68.3271 10.6532 68.3784 10.4172L64.1802 7.92458C64.0542 8.07003 63.9 8.18417 63.7176 8.267C63.5352 8.34983 63.3394 8.39125 63.1302 8.39125C62.7467 8.39125 62.4208 8.25475 62.1525 7.98175C61.8842 7.70875 61.75 7.3815 61.75 7C61.75 6.6185 61.8842 6.29125 62.1525 6.01825C62.4208 5.74525 62.7467 5.60875 63.1302 5.60875C63.339 5.60875 63.5348 5.65017 63.7176 5.733C63.9004 5.81583 64.0546 5.93017 64.1802 6.076L68.379 3.59392C68.3518 3.51847 68.3321 3.44361 68.3201 3.36933C68.3076 3.29467 68.3014 3.21844 68.3014 3.14067C68.3014 2.7545 68.4369 2.42608 68.708 2.15542C68.9791 1.88514 69.3081 1.75 69.695 1.75C70.0819 1.75 70.4102 1.88553 70.6797 2.15658C70.9492 2.42764 71.0837 2.75664 71.0833 3.14358C71.0829 3.53053 70.9478 3.85875 70.6779 4.12825C70.408 4.39775 70.0794 4.53231 69.6921 4.53192C69.4813 4.53192 69.2869 4.48875 69.1087 4.40242C68.9306 4.31608 68.779 4.2 68.6537 4.05417L64.4543 6.54675C64.4816 6.62219 64.5012 6.69725 64.5132 6.77192C64.5257 6.84619 64.5319 6.92222 64.5319 7C64.5319 7.07778 64.5257 7.15381 64.5132 7.22808C64.5008 7.30236 64.4814 7.37742 64.4549 7.45325L68.6537 9.94583C68.7794 9.8 68.931 9.68392 69.1087 9.59758C69.2869 9.51125 69.4813 9.46808 69.6921 9.46808C70.0786 9.46808 70.4072 9.60342 70.6779 9.87408C70.9482 10.1455 71.0833 10.4747 71.0833 10.8617C71.0833 11.2486 70.9478 11.5768 70.6767 11.8463C70.4057 12.1158 70.0761 12.2504 69.6892 12.25ZM69.6921 11.6667C69.9211 11.6667 70.1131 11.5893 70.2678 11.4345C70.4226 11.2797 70.5 11.088 70.5 10.8593C70.5 10.6307 70.4226 10.4387 70.2678 10.2836C70.1131 10.1284 69.9213 10.051 69.6927 10.0514C69.464 10.0518 69.2721 10.1292 69.1169 10.2836C68.9617 10.438 68.8844 10.6297 68.8847 10.8587C68.8851 11.0878 68.9625 11.2797 69.1169 11.4345C69.2713 11.5893 69.4626 11.6667 69.6921 11.6667ZM63.1302 7.80733C63.3619 7.80733 63.5564 7.72994 63.7135 7.57517C63.8702 7.42039 63.9486 7.22867 63.9486 7C63.9486 6.77133 63.8702 6.57961 63.7135 6.42483C63.5568 6.27006 63.3623 6.19267 63.1302 6.19267C62.9042 6.19267 62.715 6.27006 62.5626 6.42483C62.4101 6.57961 62.3337 6.77133 62.3333 7C62.3329 7.22867 62.4094 7.42058 62.5626 7.57575C62.7158 7.73092 62.905 7.80811 63.1302 7.80733ZM69.6927 3.94858C69.9213 3.94858 70.1131 3.87119 70.2678 3.71642C70.4226 3.56164 70.5 3.36972 70.5 3.14067C70.5 2.91161 70.4226 2.71989 70.2678 2.5655C70.1131 2.41111 69.9213 2.33372 69.6927 2.33333C69.464 2.33294 69.2721 2.41033 69.1169 2.5655C68.9617 2.72067 68.8844 2.91258 68.8847 3.14125C68.8851 3.36992 68.9625 3.56164 69.1169 3.71642C69.2713 3.87119 69.4632 3.94858 69.6927 3.94858Z" fill="black"/>
                    <path d="M80.92 10.07C80.46 10.07 80.0533 9.99 79.7 9.83C79.3533 9.67 79.08 9.44667 78.88 9.16C78.68 8.87333 78.5733 8.55333 78.56 8.2H79.3C79.3333 8.54 79.4833 8.84 79.75 9.1C80.0167 9.35333 80.4067 9.48 80.92 9.48C81.3933 9.48 81.7667 9.36 82.04 9.12C82.32 8.87333 82.46 8.56333 82.46 8.19C82.46 7.89 82.3833 7.65 82.23 7.47C82.0767 7.28333 81.8867 7.14667 81.66 7.06C81.4333 6.96667 81.12 6.86667 80.72 6.76C80.2533 6.63333 79.8833 6.51 79.61 6.39C79.3367 6.27 79.1033 6.08333 78.91 5.83C78.7167 5.57667 78.62 5.23333 78.62 4.8C78.62 4.44 78.7133 4.12 78.9 3.84C79.0867 3.55333 79.35 3.33 79.69 3.17C80.03 3.01 80.42 2.93 80.86 2.93C81.5067 2.93 82.0267 3.09 82.42 3.41C82.82 3.72333 83.05 4.13 83.11 4.63H82.35C82.3033 4.34333 82.1467 4.09 81.88 3.87C81.6133 3.64333 81.2533 3.53 80.8 3.53C80.38 3.53 80.03 3.64333 79.75 3.87C79.47 4.09 79.33 4.39333 79.33 4.78C79.33 5.07333 79.4067 5.31 79.56 5.49C79.7133 5.67 79.9033 5.80667 80.13 5.9C80.3633 5.99333 80.6767 6.09333 81.07 6.2C81.5233 6.32667 81.89 6.45333 82.17 6.58C82.45 6.7 82.6867 6.88667 82.88 7.14C83.0733 7.39333 83.17 7.73333 83.17 8.16C83.17 8.48667 83.0833 8.79667 82.91 9.09C82.7367 9.38333 82.48 9.62 82.14 9.8C81.8 9.98 81.3933 10.07 80.92 10.07ZM87.1227 4.44C87.536 4.44 87.906 4.52667 88.2327 4.7C88.566 4.87333 88.826 5.14 89.0127 5.5C89.206 5.85333 89.3027 6.28667 89.3027 6.8V10H88.6127V6.88C88.6127 6.28667 88.4627 5.83333 88.1627 5.52C87.8693 5.20667 87.466 5.05 86.9527 5.05C86.426 5.05 86.006 5.21667 85.6927 5.55C85.3793 5.88333 85.2227 6.37333 85.2227 7.02V10H84.5227V2.6H85.2227V5.47C85.396 5.14333 85.6493 4.89 85.9827 4.71C86.3227 4.53 86.7027 4.44 87.1227 4.44ZM90.5308 7.26C90.5308 6.7 90.6408 6.21 90.8608 5.79C91.0874 5.36333 91.3974 5.03667 91.7908 4.81C92.1908 4.57667 92.6408 4.46 93.1408 4.46C93.6608 4.46 94.1074 4.58 94.4808 4.82C94.8608 5.06 95.1341 5.36667 95.3008 5.74V4.54H96.0008V10H95.3008V8.79C95.1274 9.16333 94.8508 9.47333 94.4708 9.72C94.0974 9.96 93.6508 10.08 93.1308 10.08C92.6374 10.08 92.1908 9.96333 91.7908 9.73C91.3974 9.49667 91.0874 9.16667 90.8608 8.74C90.6408 8.31333 90.5308 7.82 90.5308 7.26ZM95.3008 7.27C95.3008 6.83 95.2108 6.44333 95.0308 6.11C94.8508 5.77667 94.6041 5.52 94.2908 5.34C93.9841 5.16 93.6441 5.07 93.2708 5.07C92.8841 5.07 92.5374 5.15667 92.2308 5.33C91.9241 5.50333 91.6808 5.75667 91.5008 6.09C91.3274 6.41667 91.2408 6.80667 91.2408 7.26C91.2408 7.70667 91.3274 8.1 91.5008 8.44C91.6808 8.77333 91.9241 9.03 92.2308 9.21C92.5374 9.38333 92.8841 9.47 93.2708 9.47C93.6441 9.47 93.9841 9.38 94.2908 9.2C94.6041 9.02 94.8508 8.76333 95.0308 8.43C95.2108 8.09667 95.3008 7.71 95.3008 7.27ZM98.2988 5.51C98.4522 5.17 98.6855 4.90667 98.9988 4.72C99.3188 4.53333 99.7088 4.44 100.169 4.44V5.17H99.9788C99.4722 5.17 99.0655 5.30667 98.7588 5.58C98.4522 5.85333 98.2988 6.31 98.2988 6.95V10H97.5988V4.54H98.2988V5.51ZM106.162 6.99C106.162 7.23 106.155 7.41333 106.142 7.54H101.612C101.632 7.95333 101.732 8.30667 101.912 8.6C102.092 8.89333 102.329 9.11667 102.622 9.27C102.915 9.41667 103.235 9.49 103.582 9.49C104.035 9.49 104.415 9.38 104.722 9.16C105.035 8.94 105.242 8.64333 105.342 8.27H106.082C105.949 8.80333 105.662 9.24 105.222 9.58C104.789 9.91333 104.242 10.08 103.582 10.08C103.069 10.08 102.609 9.96667 102.202 9.74C101.795 9.50667 101.475 9.18 101.242 8.76C101.015 8.33333 100.902 7.83667 100.902 7.27C100.902 6.70333 101.015 6.20667 101.242 5.78C101.469 5.35333 101.785 5.02667 102.192 4.8C102.599 4.57333 103.062 4.46 103.582 4.46C104.102 4.46 104.555 4.57333 104.942 4.8C105.335 5.02667 105.635 5.33333 105.842 5.72C106.055 6.1 106.162 6.52333 106.162 6.99ZM105.452 6.97C105.459 6.56333 105.375 6.21667 105.202 5.93C105.035 5.64333 104.805 5.42667 104.512 5.28C104.219 5.13333 103.899 5.06 103.552 5.06C103.032 5.06 102.589 5.22667 102.222 5.56C101.855 5.89333 101.652 6.36333 101.612 6.97H105.452Z" fill="#101123"/>
                    <path d="M457.667 1.75V2.91667M457.667 2.91667H464.667L463.5 5.25L464.667 7.58333H457.667M457.667 2.91667V7.58333M457.667 12.25V7.58333" stroke="black" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
                        <svg class='share-like share-link-mob' width="280" height="14" viewBox="0 0 280 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.75004 5.8331L8.31837 5.76135C8.30795 5.82402 8.31131 5.88821 8.32821 5.94946C8.3451 6.0107 8.37514 6.06753 8.41622 6.11599C8.4573 6.16446 8.50844 6.20339 8.56609 6.23009C8.62374 6.25679 8.68651 6.27062 8.75004 6.2706V5.8331ZM2.33337 5.8331V5.3956C2.21734 5.3956 2.10606 5.4417 2.02401 5.52374C1.94197 5.60579 1.89587 5.71707 1.89587 5.8331H2.33337ZM3.50004 12.1039H10.1267V11.2289H3.50004V12.1039ZM10.8267 5.3956H8.75004V6.2706H10.8267V5.3956ZM9.18171 5.90485L9.65187 3.08444L8.78854 2.94035L8.31837 5.76135L9.18171 5.90485ZM8.64504 1.8956H8.52021V2.7706H8.64446L8.64504 1.8956ZM6.69962 2.86977L5.23254 5.07069L5.96054 5.55602L7.42762 3.3551L6.69962 2.86977ZM4.62587 5.3956H2.33337V6.2706H4.62587V5.3956ZM1.89587 5.8331V10.4998H2.77087V5.8331H1.89587ZM11.7 10.8148L12.4 7.31477L11.5425 7.14269L10.8425 10.6427L11.7 10.8148ZM5.23254 5.07069C5.16598 5.1706 5.07578 5.25195 4.96995 5.30864C4.86412 5.36532 4.74593 5.39499 4.62587 5.39502V6.27002C5.16254 6.27002 5.66304 6.00227 5.96054 5.55602L5.23254 5.07069ZM9.65187 3.08444C9.67618 2.93823 9.66836 2.78791 9.62896 2.64504C9.58955 2.50216 9.51951 2.36958 9.4237 2.25651C9.32789 2.14343 9.20861 2.05257 9.07414 1.99025C8.93967 1.92793 8.79325 1.89563 8.64504 1.8956L8.64446 2.7706C8.6656 2.77065 8.68707 2.7753 8.70623 2.78423C8.7254 2.79315 8.7424 2.80614 8.75605 2.82229C8.7697 2.83844 8.77968 2.85736 8.78529 2.87774C8.7909 2.89813 8.79201 2.91949 8.78854 2.94035L9.65187 3.08444ZM10.8267 6.27002C11.2875 6.27002 11.6317 6.69119 11.5419 7.1421L12.4 7.31419C12.4464 7.08149 12.4406 6.84081 12.383 6.61062C12.3255 6.38043 12.2176 6.16587 12.0671 5.98241C11.9166 5.79895 11.7273 5.65116 11.5128 5.54969C11.2983 5.44822 11.064 5.39559 10.8267 5.3956V6.27002ZM10.1267 12.1039C10.4975 12.104 10.8569 11.975 11.1438 11.74C11.4306 11.5049 11.6271 11.1778 11.7 10.8142L10.8425 10.6421C10.8094 10.8075 10.72 10.9564 10.5895 11.0633C10.459 11.1702 10.2954 11.2291 10.1267 11.2289V12.1039ZM8.52021 1.8956C8.1601 1.89563 7.80556 1.98398 7.48807 2.15391C7.17058 2.32385 6.89995 2.56955 6.70021 2.86919L7.42762 3.3551C7.54752 3.17524 7.70999 3.02719 7.9006 2.92522C8.0912 2.82325 8.30404 2.77052 8.52021 2.7706V1.8956ZM3.50004 11.2289C3.09754 11.2289 2.77087 10.9023 2.77087 10.4998H1.89587C1.89587 10.9252 2.06488 11.3332 2.36572 11.6341C2.66656 11.9349 3.07459 12.1039 3.50004 12.1039V11.2289Z" fill="black"/>
                            <path d="M4.66675 5.83301V11.6663" stroke="black" stroke-width="0.875"/>
                            <path d="M19.47 3.01V7.41C19.47 8.10333 19.6333 8.61667 19.96 8.95C20.2933 9.28333 20.7467 9.45 21.32 9.45C21.8933 9.45 22.34 9.28667 22.66 8.96C22.9867 8.62667 23.15 8.11 23.15 7.41V3.01H23.85V7.4C23.85 8.28667 23.6133 8.95333 23.14 9.4C22.6733 9.84667 22.0633 10.07 21.31 10.07C20.5567 10.07 19.9433 9.84667 19.47 9.4C19.0033 8.95333 18.77 8.28667 18.77 7.4V3.01H19.47ZM27.2913 10.08C26.6647 10.08 26.1513 9.93667 25.7513 9.65C25.358 9.35667 25.138 8.96 25.0913 8.46H25.8113C25.8447 8.76667 25.988 9.01667 26.2413 9.21C26.5013 9.39667 26.848 9.49 27.2813 9.49C27.6613 9.49 27.958 9.4 28.1713 9.22C28.3913 9.04 28.5013 8.81667 28.5013 8.55C28.5013 8.36333 28.4413 8.21 28.3213 8.09C28.2013 7.97 28.048 7.87667 27.8613 7.81C27.6813 7.73667 27.4347 7.66 27.1213 7.58C26.7147 7.47333 26.3847 7.36667 26.1313 7.26C25.878 7.15333 25.6613 6.99667 25.4813 6.79C25.308 6.57667 25.2213 6.29333 25.2213 5.94C25.2213 5.67333 25.3013 5.42667 25.4613 5.2C25.6213 4.97333 25.848 4.79333 26.1413 4.66C26.4347 4.52667 26.768 4.46 27.1413 4.46C27.728 4.46 28.2013 4.61 28.5613 4.91C28.9213 5.20333 29.1147 5.61 29.1413 6.13H28.4413C28.4213 5.81 28.2947 5.55333 28.0613 5.36C27.8347 5.16 27.5213 5.06 27.1213 5.06C26.768 5.06 26.4813 5.14333 26.2613 5.31C26.0413 5.47667 25.9313 5.68333 25.9313 5.93C25.9313 6.14333 25.9947 6.32 26.1213 6.46C26.2547 6.59333 26.418 6.7 26.6113 6.78C26.8047 6.85333 27.0647 6.93667 27.3913 7.03C27.7847 7.13667 28.098 7.24 28.3313 7.34C28.5647 7.44 28.7647 7.58667 28.9313 7.78C29.098 7.97333 29.1847 8.23 29.1913 8.55C29.1913 8.84333 29.1113 9.10667 28.9513 9.34C28.7913 9.56667 28.568 9.74667 28.2813 9.88C27.9947 10.0133 27.6647 10.08 27.2913 10.08ZM35.449 6.99C35.449 7.23 35.4423 7.41333 35.429 7.54H30.899C30.919 7.95333 31.019 8.30667 31.199 8.6C31.379 8.89333 31.6157 9.11667 31.909 9.27C32.2023 9.41667 32.5223 9.49 32.869 9.49C33.3223 9.49 33.7023 9.38 34.009 9.16C34.3223 8.94 34.529 8.64333 34.629 8.27H35.369C35.2357 8.80333 34.949 9.24 34.509 9.58C34.0757 9.91333 33.529 10.08 32.869 10.08C32.3557 10.08 31.8957 9.96667 31.489 9.74C31.0823 9.50667 30.7623 9.18 30.529 8.76C30.3023 8.33333 30.189 7.83667 30.189 7.27C30.189 6.70333 30.3023 6.20667 30.529 5.78C30.7557 5.35333 31.0723 5.02667 31.479 4.8C31.8857 4.57333 32.349 4.46 32.869 4.46C33.389 4.46 33.8423 4.57333 34.229 4.8C34.6223 5.02667 34.9223 5.33333 35.129 5.72C35.3423 6.1 35.449 6.52333 35.449 6.99ZM34.739 6.97C34.7457 6.56333 34.6623 6.21667 34.489 5.93C34.3223 5.64333 34.0923 5.42667 33.799 5.28C33.5057 5.13333 33.1857 5.06 32.839 5.06C32.319 5.06 31.8757 5.22667 31.509 5.56C31.1423 5.89333 30.939 6.36333 30.899 6.97H34.739ZM38.8797 5.13H37.6097V10H36.9097V5.13H36.1497V4.54H36.9097V4.16C36.9097 3.56667 37.0597 3.13 37.3597 2.85C37.6664 2.57 38.1597 2.43 38.8397 2.43V3.03C38.3864 3.03 38.0664 3.11667 37.8797 3.29C37.6997 3.46333 37.6097 3.75333 37.6097 4.16V4.54H38.8797V5.13ZM44.7116 4.54V10H44.0116V9.04C43.8516 9.38 43.605 9.64 43.2716 9.82C42.9383 10 42.565 10.09 42.1516 10.09C41.4983 10.09 40.965 9.89 40.5516 9.49C40.1383 9.08333 39.9316 8.49667 39.9316 7.73V4.54H40.6216V7.65C40.6216 8.24333 40.7683 8.69667 41.0616 9.01C41.3616 9.32333 41.7683 9.48 42.2816 9.48C42.8083 9.48 43.2283 9.31333 43.5416 8.98C43.855 8.64667 44.0116 8.15667 44.0116 7.51V4.54H44.7116ZM47.0098 2.6V10H46.3098V2.6H47.0098Z" fill="#101123"/>
                            <path d="M69.6892 12.25C69.3026 12.25 68.9746 12.1149 68.7051 11.8446C68.436 11.5739 68.3014 11.2453 68.3014 10.8587C68.3014 10.8004 68.3271 10.6532 68.3784 10.4172L64.1802 7.92458C64.0542 8.07003 63.9 8.18417 63.7176 8.267C63.5352 8.34983 63.3394 8.39125 63.1302 8.39125C62.7467 8.39125 62.4208 8.25475 62.1525 7.98175C61.8842 7.70875 61.75 7.3815 61.75 7C61.75 6.6185 61.8842 6.29125 62.1525 6.01825C62.4208 5.74525 62.7467 5.60875 63.1302 5.60875C63.339 5.60875 63.5348 5.65017 63.7176 5.733C63.9004 5.81583 64.0546 5.93017 64.1802 6.076L68.379 3.59392C68.3518 3.51847 68.3321 3.44361 68.3201 3.36933C68.3076 3.29467 68.3014 3.21844 68.3014 3.14067C68.3014 2.7545 68.4369 2.42608 68.708 2.15542C68.9791 1.88514 69.3081 1.75 69.695 1.75C70.0819 1.75 70.4102 1.88553 70.6797 2.15658C70.9492 2.42764 71.0837 2.75664 71.0833 3.14358C71.0829 3.53053 70.9478 3.85875 70.6779 4.12825C70.408 4.39775 70.0794 4.53231 69.6921 4.53192C69.4813 4.53192 69.2869 4.48875 69.1087 4.40242C68.9306 4.31608 68.779 4.2 68.6537 4.05417L64.4543 6.54675C64.4816 6.62219 64.5012 6.69725 64.5132 6.77192C64.5257 6.84619 64.5319 6.92222 64.5319 7C64.5319 7.07778 64.5257 7.15381 64.5132 7.22808C64.5008 7.30236 64.4814 7.37742 64.4549 7.45325L68.6537 9.94583C68.7794 9.8 68.931 9.68392 69.1087 9.59758C69.2869 9.51125 69.4813 9.46808 69.6921 9.46808C70.0786 9.46808 70.4072 9.60342 70.6779 9.87408C70.9482 10.1455 71.0833 10.4747 71.0833 10.8617C71.0833 11.2486 70.9478 11.5768 70.6767 11.8463C70.4057 12.1158 70.0761 12.2504 69.6892 12.25ZM69.6921 11.6667C69.9211 11.6667 70.1131 11.5893 70.2678 11.4345C70.4226 11.2797 70.5 11.088 70.5 10.8593C70.5 10.6307 70.4226 10.4387 70.2678 10.2836C70.1131 10.1284 69.9213 10.051 69.6927 10.0514C69.464 10.0518 69.2721 10.1292 69.1169 10.2836C68.9617 10.438 68.8844 10.6297 68.8847 10.8587C68.8851 11.0878 68.9625 11.2797 69.1169 11.4345C69.2713 11.5893 69.4626 11.6667 69.6921 11.6667ZM63.1302 7.80733C63.3619 7.80733 63.5564 7.72994 63.7135 7.57517C63.8702 7.42039 63.9486 7.22867 63.9486 7C63.9486 6.77133 63.8702 6.57961 63.7135 6.42483C63.5568 6.27006 63.3623 6.19267 63.1302 6.19267C62.9042 6.19267 62.715 6.27006 62.5626 6.42483C62.4101 6.57961 62.3337 6.77133 62.3333 7C62.3329 7.22867 62.4094 7.42058 62.5626 7.57575C62.7158 7.73092 62.905 7.80811 63.1302 7.80733ZM69.6927 3.94858C69.9213 3.94858 70.1131 3.87119 70.2678 3.71642C70.4226 3.56164 70.5 3.36972 70.5 3.14067C70.5 2.91161 70.4226 2.71989 70.2678 2.5655C70.1131 2.41111 69.9213 2.33372 69.6927 2.33333C69.464 2.33294 69.2721 2.41033 69.1169 2.5655C68.9617 2.72067 68.8844 2.91258 68.8847 3.14125C68.8851 3.36992 68.9625 3.56164 69.1169 3.71642C69.2713 3.87119 69.4632 3.94858 69.6927 3.94858Z" fill="black"/>
                            <path d="M80.92 10.07C80.46 10.07 80.0533 9.99 79.7 9.83C79.3533 9.67 79.08 9.44667 78.88 9.16C78.68 8.87333 78.5733 8.55333 78.56 8.2H79.3C79.3333 8.54 79.4833 8.84 79.75 9.1C80.0167 9.35333 80.4067 9.48 80.92 9.48C81.3933 9.48 81.7667 9.36 82.04 9.12C82.32 8.87333 82.46 8.56333 82.46 8.19C82.46 7.89 82.3833 7.65 82.23 7.47C82.0767 7.28333 81.8867 7.14667 81.66 7.06C81.4333 6.96667 81.12 6.86667 80.72 6.76C80.2533 6.63333 79.8833 6.51 79.61 6.39C79.3367 6.27 79.1033 6.08333 78.91 5.83C78.7167 5.57667 78.62 5.23333 78.62 4.8C78.62 4.44 78.7133 4.12 78.9 3.84C79.0867 3.55333 79.35 3.33 79.69 3.17C80.03 3.01 80.42 2.93 80.86 2.93C81.5067 2.93 82.0267 3.09 82.42 3.41C82.82 3.72333 83.05 4.13 83.11 4.63H82.35C82.3033 4.34333 82.1467 4.09 81.88 3.87C81.6133 3.64333 81.2533 3.53 80.8 3.53C80.38 3.53 80.03 3.64333 79.75 3.87C79.47 4.09 79.33 4.39333 79.33 4.78C79.33 5.07333 79.4067 5.31 79.56 5.49C79.7133 5.67 79.9033 5.80667 80.13 5.9C80.3633 5.99333 80.6767 6.09333 81.07 6.2C81.5233 6.32667 81.89 6.45333 82.17 6.58C82.45 6.7 82.6867 6.88667 82.88 7.14C83.0733 7.39333 83.17 7.73333 83.17 8.16C83.17 8.48667 83.0833 8.79667 82.91 9.09C82.7367 9.38333 82.48 9.62 82.14 9.8C81.8 9.98 81.3933 10.07 80.92 10.07ZM87.1227 4.44C87.536 4.44 87.906 4.52667 88.2327 4.7C88.566 4.87333 88.826 5.14 89.0127 5.5C89.206 5.85333 89.3027 6.28667 89.3027 6.8V10H88.6127V6.88C88.6127 6.28667 88.4627 5.83333 88.1627 5.52C87.8693 5.20667 87.466 5.05 86.9527 5.05C86.426 5.05 86.006 5.21667 85.6927 5.55C85.3793 5.88333 85.2227 6.37333 85.2227 7.02V10H84.5227V2.6H85.2227V5.47C85.396 5.14333 85.6493 4.89 85.9827 4.71C86.3227 4.53 86.7027 4.44 87.1227 4.44ZM90.5308 7.26C90.5308 6.7 90.6408 6.21 90.8608 5.79C91.0874 5.36333 91.3974 5.03667 91.7908 4.81C92.1908 4.57667 92.6408 4.46 93.1408 4.46C93.6608 4.46 94.1074 4.58 94.4808 4.82C94.8608 5.06 95.1341 5.36667 95.3008 5.74V4.54H96.0008V10H95.3008V8.79C95.1274 9.16333 94.8508 9.47333 94.4708 9.72C94.0974 9.96 93.6508 10.08 93.1308 10.08C92.6374 10.08 92.1908 9.96333 91.7908 9.73C91.3974 9.49667 91.0874 9.16667 90.8608 8.74C90.6408 8.31333 90.5308 7.82 90.5308 7.26ZM95.3008 7.27C95.3008 6.83 95.2108 6.44333 95.0308 6.11C94.8508 5.77667 94.6041 5.52 94.2908 5.34C93.9841 5.16 93.6441 5.07 93.2708 5.07C92.8841 5.07 92.5374 5.15667 92.2308 5.33C91.9241 5.50333 91.6808 5.75667 91.5008 6.09C91.3274 6.41667 91.2408 6.80667 91.2408 7.26C91.2408 7.70667 91.3274 8.1 91.5008 8.44C91.6808 8.77333 91.9241 9.03 92.2308 9.21C92.5374 9.38333 92.8841 9.47 93.2708 9.47C93.6441 9.47 93.9841 9.38 94.2908 9.2C94.6041 9.02 94.8508 8.76333 95.0308 8.43C95.2108 8.09667 95.3008 7.71 95.3008 7.27ZM98.2988 5.51C98.4522 5.17 98.6855 4.90667 98.9988 4.72C99.3188 4.53333 99.7088 4.44 100.169 4.44V5.17H99.9788C99.4722 5.17 99.0655 5.30667 98.7588 5.58C98.4522 5.85333 98.2988 6.31 98.2988 6.95V10H97.5988V4.54H98.2988V5.51ZM106.162 6.99C106.162 7.23 106.155 7.41333 106.142 7.54H101.612C101.632 7.95333 101.732 8.30667 101.912 8.6C102.092 8.89333 102.329 9.11667 102.622 9.27C102.915 9.41667 103.235 9.49 103.582 9.49C104.035 9.49 104.415 9.38 104.722 9.16C105.035 8.94 105.242 8.64333 105.342 8.27H106.082C105.949 8.80333 105.662 9.24 105.222 9.58C104.789 9.91333 104.242 10.08 103.582 10.08C103.069 10.08 102.609 9.96667 102.202 9.74C101.795 9.50667 101.475 9.18 101.242 8.76C101.015 8.33333 100.902 7.83667 100.902 7.27C100.902 6.70333 101.015 6.20667 101.242 5.78C101.469 5.35333 101.785 5.02667 102.192 4.8C102.599 4.57333 103.062 4.46 103.582 4.46C104.102 4.46 104.555 4.57333 104.942 4.8C105.335 5.02667 105.635 5.33333 105.842 5.72C106.055 6.1 106.162 6.52333 106.162 6.99ZM105.452 6.97C105.459 6.56333 105.375 6.21667 105.202 5.93C105.035 5.64333 104.805 5.42667 104.512 5.28C104.219 5.13333 103.899 5.06 103.552 5.06C103.032 5.06 102.589 5.22667 102.222 5.56C101.855 5.89333 101.652 6.36333 101.612 6.97H105.452Z" fill="#101123"/>
                            <path d="M270.667 1.75V2.91667M270.667 2.91667H277.667L276.5 5.25L277.667 7.58333H270.667M270.667 2.91667V7.58333M270.667 12.25V7.58333" stroke="black" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                        

                </div> 
                 
            </div>
        
            <div class="b-hero__right-container">
                {% if heroBadge %}
                    <div class="b-hero__badge">
                                {{ heroBadge | image_url: width: auto | image_tag: class: 'b-hero__badge-img'}}
                    </div>
                {% endif %}
                {% if heroMobImage %}
                    <div class="b-hero__image ">
                                {{ heroMobImage | image_url: width: auto | image_tag: class: 'b-hero__bg-img'}}
                    </div>
                {% endif %}
                {% if heroBgImage %}
                    <div class="b-hero__image b-hero__image-mob">
                                {{ heroBgImage | image_url: width: auto | image_tag: class: 'b-hero__bg-mob-img'}}
                    </div>
                {% endif %}
            </div>
        </div>
      
    </div>
   
        

</section>


{% schema %}
    {
        "name": "Home Hero",
         "settings": [
            {
                "type": "header",
                "content": "Hero main content",
                "info": "Enter content for hero"
            },
            {
                "type": "richtext",
                "id": "trustpilot_text",
                "label": "Enter text "
            },
            {
                "type": "text",
                "id": "hero_title",
                "label": "Enter section title"
                
            },
            {
                "type": "text",
                "id": "hero_subtitle",
                "label": "Enter section subtitle"
            },
            {
                "type": "image_picker",
                "id": "hero_badge",
                "label": "Upload badge"
            },
            {
                "type": "image_picker",
                "id": "hero_bg_image",
                "label": "Upload background image"
            },
            {
                "type": "image_picker",
                "id": "hero_image",
                "label": "Upload  Mobile image"
            },
            {
                "type": "header",
                "content": "Hero button content",
                "info": "Enter content for button"
            },
            {
                "type": "text",
                "id": "hero_button_text",
                "label": "Enter section button text",
                "default": "Shop Our Bestsellers"
            },
            {
                "type": "url",
                "id": "hero_button_url",
                "label": "Choose collection link"
            },
            {
                "type": "header",
                "content": "Hero Review content",
                "info": "Enter review"
            },
            {
                "type": "text",
                "id": "hero_review_author",
                "label": "Enter review author",
                "default": "Paolo Nuzzolillo"
            },
            {
                "type": "image_picker",
                "id": "hero_review_author_image",
                "label": "Upload Author image"
            },
            {
                "type": "text",
                "id": "hero_review_number",
                "label": "Enter review number",
                "default": "1"
            },
            {
                "type": "text",
                "id": "hero_review_location",
                "label": "Enter review location",
                "default": "CH"
            },
            {
                "type": "text",
                "id": "hero_review_date",
                "label": "Enter review date",
                "default": "May 7, 2024"
            },
            {
                "type": "text",
                "id": "hero_review_title",
                "label": "Enter review title",
                "default": "Ottimi Prodotti"
            },
            {
                "type": "text",
                "id": "hero_review_content",
                "label": "Enter review content",
                "default": "Ottimi Prodotti, da professionista della nutrizone li consiglio spesso ai miei client!"
            },
            {
                "type": "richtext",
                "id": "hero_review_experiance",
                "label": "Enter review experiance date",
               
            } 
            
           
        ],
        "blocks": [
            {
                "type": "text",
                "name": "Bullet-List",
                "settings":[
                    {
                        "type": "image_picker",
                        "id": "hero_bullet_icon",
                        "label": "Upload icon"
                    },
                    {
                        "type": "richtext",
                        "id": "hero_bullet_text",
                        "label": "Enter bullet content"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Home Hero"
            }
        ]
    }
{% endschema %}
