{{ 'pdp-reviews.css' | asset_url | stylesheet_tag }}
{{ 'pdp-marque.css' | asset_url | stylesheet_tag }}


{% liquid
  assign reviews_title = section.settings.reviews_title
  assign revText = section.settings.rev_text

  assign marqueBlock = section.blocks | where: 'type', 'marquee'
  assign revBlock = section.blocks | where: 'type', 'slide'

  assign bg_color = section.settings.bg_color
  assign bg_slide_color = section.settings.bg_slide_color

%}    
{% style %}
.pdp-reviews {
  background-color: {{ bg_color }};
}

.swiper-review .pdp-reviews__slider-container {
  background-color: {{ bg_slide_color }} !important;
}
  
{% endstyle %}
<section id='reviews-section' class="pdp-reviews pdp-bg--white">
  
  <div class="pdp-reviews__rev-star">
    <svg class="pdp-products__stars" width="125" height="24" viewBox="0 0 125 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.5 0L16.0267 7.1459L23.9127 8.2918L18.2063 13.8541L19.5534 21.7082L12.5 18L5.44658 21.7082L6.79366 13.8541L1.08732 8.2918L8.97329 7.1459L12.5 0Z" fill="black"/>
      <path d="M37.5 0L41.0267 7.1459L48.9127 8.2918L43.2063 13.8541L44.5534 21.7082L37.5 18L30.4466 21.7082L31.7937 13.8541L26.0873 8.2918L33.9733 7.1459L37.5 0Z" fill="black"/>
      <path d="M62.5 0L66.0267 7.1459L73.9127 8.2918L68.2063 13.8541L69.5534 21.7082L62.5 18L55.4466 21.7082L56.7937 13.8541L51.0873 8.2918L58.9733 7.1459L62.5 0Z" fill="black"/>
      <path d="M87.5 0L91.0267 7.1459L98.9127 8.2918L93.2063 13.8541L94.5534 21.7082L87.5 18L80.4466 21.7082L81.7937 13.8541L76.0873 8.2918L83.9733 7.1459L87.5 0Z" fill="black"/>
      <path d="M112.5 0L116.027 7.1459L123.913 8.2918L118.206 13.8541L119.553 21.7082L112.5 18L105.447 21.7082L106.794 13.8541L101.087 8.2918L108.973 7.1459L112.5 0Z" fill="black"/>
      </svg>


      {% if revText != blank %}
        <p class="pdp-reviews__price pdp-text">
          {{ revText }}
        </p>
      {%- endif -%}

      </div>
    {% if reviews_title != '' %}
    <h2 class="pdp-reviews__title pdp-title pdp-text--center pdp-text--black">
      {{ reviews_title }}
    </h2>
  {% endif %} 
  <div class="marquee marquee-reviews">
    {% for i in (1..5) %}

      <div class="marquee__group">
        
        {% for info in marqueBlock %}

            {% liquid  
            assign pdpMarqueeImg = info.settings.pdp_marquee_img

           %}
            <div class="marquee__item">
                <div class="pdp-marquee__image pdp-reviews__marque-image">
                    {% if pdpMarqueeImg %}
 
                      
           <img  data-class="LazyLoad"  data-src="{{ pdpMarqueeImg |  img_url :'master' }}" src="{{ pdpMarqueeImg |  img_url :'40x' }}" class='pdp-image' >
  
                    {% endif %}
                </div>
            </div>
        {% endfor %} 
    
      </div>
    {% endfor %} 

  </div>
  <div class="pdp-reviews__rev-wrapper">
    {% if revBlock.size > 0 %}
      <div class="swiper-review swiper">
        <div class="pdp-reviews__slider swiper-wrapper">
          {% for block in revBlock %}
          
              {% liquid
                  assign pdpReviewsText = block.settings.pdp_reviews_text
                  assign pdpReviewsName = block.settings.pdp_reviews_name
                  assign pdpProductImg = block.settings.pdp_product_image

              %}
              <div class="swiper-slide pdp-reviews__slide">
                <div class="pdp-reviews__slider-container">

                    <svg class='pdp-reviews__stars' width="104" height="20" viewBox="0 0 104 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 0L13.4389 5.95492L20.0106 6.90983L15.2553 11.5451L16.3779 18.0902L10.5 15L4.62215 18.0902L5.74472 11.5451L0.989435 6.90983L7.56107 5.95492L10.5 0Z" fill="black"/>
                    <path d="M31.3333 0L34.2722 5.95492L40.8438 6.90983L36.0885 11.5451L37.2111 18.0902L31.3333 15L25.4554 18.0902L26.578 11.5451L21.8227 6.90983L28.3943 5.95492L31.3333 0Z" fill="black"/>
                    <path d="M52.1665 0L55.1054 5.95492L61.6771 6.90983L56.9218 11.5451L58.0444 18.0902L52.1665 15L46.2887 18.0902L47.4112 11.5451L42.6559 6.90983L49.2276 5.95492L52.1665 0Z" fill="black"/>
                    <path d="M72.9998 0L75.9387 5.95492L82.5103 6.90983L77.755 11.5451L78.8776 18.0902L72.9998 15L67.1219 18.0902L68.2445 11.5451L63.4892 6.90983L70.0608 5.95492L72.9998 0Z" fill="black"/>
                    <path d="M93.8333 0L96.7722 5.95492L103.344 6.90983L98.5885 11.5451L99.7111 18.0902L93.8333 15L87.9554 18.0902L89.078 11.5451L84.3227 6.90983L90.8943 5.95492L93.8333 0Z" fill="black"/>
                    </svg>

                         
                    <p class="pdp-reviews__rev-text pdp-text--black">
                        {{ pdpReviewsText }} 
                    </p>
                    <div class="pdp-reviews__reviewer">         
                        <div class="pdp-reviews__reviewer-content">
                            <p class="pdp-reviews__name pdp-text--black">
                                {{ pdpReviewsName }} 
                            </p>
                            <div class="pdp-reviews__reviewer-verified">
                                <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 3.73588L3.16667 6.40255L8.5 1.06921" stroke="#E10B17"/>
                                </svg>
                                <p>Acquisto verificato</p>         
                            </div>
                        </div>   
                        
                        <div class="pdp-reviews__product-image">
                            {% if pdpProductImg %}
          <img  data-class="LazyLoad"  data-src="{{ pdpProductImg |  img_url :'master' }}" src="{{ pdpProductImg |  img_url :'40x' }}" class='pdp-image' >
     
                            {% endif %}
                        </div>
                    </div>
                  
                </div>
              </div>
          {% endfor %}
        </div>
        <div class="slider-navigation">
          <div class="swiper-button-prev-rev">
            <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="40" height="40" rx="20" transform="matrix(-1 0 0 1 40 0.73584)" fill="#101123"/>
                <path d="M18.75 14.4858L12.5 20.7358M12.5 20.7358L18.75 26.9858M12.5 20.7358H27.5" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
          </div>

          <div class="swiper-pagination swiper-pagination-rev"></div>

          <div class="swiper-button-next-rev">
                <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.73584" width="40" height="40" rx="20" fill="#101123"/>
                <path d="M21.2501 14.486L27.5001 20.736M27.5001 20.736L21.2501 26.986M27.5001 20.736H12.5001" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
          </div>
        </div>
      </div>

    {% endif %}
  </div>

</section>

<script src="{{ 'pdp-swiper-reviews.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "pdp Reviews",
    "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background color"
    },
      {
        "type": "text", 
        "id": "reviews_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "rev_text",
        "label":"Type review text"
      },

      {
        "type": "color",
        "id": "bg_slide_color",
        "label": "Slide background color"
      }
    ],

    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "label": "Chose Text",
            "id": "pdp_reviews_text",
            "type": "text"
          },
          {
            "label": "Chose Name",
            "id": "pdp_reviews_name",
            "type": "text"
          },
          {
            "type": "image_picker",
            "id": "pdp_product_image",
            "label": "product image"
          },
        ]
      },
      {
        "type": "marquee",
        "name": "marquee",
        "settings": [
        {
            "type": "image_picker",
            "id": "pdp_marquee_img",
            "label": "marquee icon"
          }
        ]
      },
    ],

    

    "presets": [
      {
        "name": "pdp Reviews"
      }
    ]
  } 
{% endschema %}
  
  