{{ 'pdp-reviews.css' | asset_url | stylesheet_tag }}
{{ 'pdp-marque.css' | asset_url | stylesheet_tag }}


{% liquid
  assign reviews_title = section.settings.reviews_title
  assign revText = section.settings.rev_text

  assign marqueBlock = section.blocks | where: 'type', 'marquee'
  assign revBlock = section.blocks | where: 'type', 'slide'

  assign bg_color = section.settings.bg_color
  assign bg_slide_color = section.settings.bg_slide_color

%}    
{% style %}
.pdp-reviews {
  background-color: {{ bg_color }};
}

.swiper-review .pdp-reviews__slider-container {
  background-color: {{ bg_slide_color }} !important;
}
  
{% endstyle %}
<section id='reviews-section' class="pdp-reviews pdp-bg--white">
  
  <div class="pdp-reviews__rev-star">
    <svg class="pdp-products__stars" width="86" height="16" viewBox="0 0 86 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5 0H0.5V16H16.5V0Z" fill="#00B67A"/>
      <path d="M33.668 0H17.668V16H33.668V0Z" fill="#00B67A"/>
      <path d="M51 0H35V16H51V0Z" fill="#00B67A"/>
      <path d="M68.168 0H52.168V16H68.168V0Z" fill="#00B67A"/>
      <path d="M85.5 0H69.5V16H85.5V0Z" fill="#DCDCE6"/>
      <path d="M69.5 0H77.5V15.8333H69.5V0Z" fill="#00B67A"/>
      <path d="M8.33203 10.6667L10.832 10.0001L11.832 13.1667L8.33203 10.6667ZM13.9987 6.66675H9.66537L8.33203 2.66675L6.9987 6.66675H2.83203L6.33203 9.16674L4.9987 13.1667L8.4987 10.6667L10.6654 9.16674L13.9987 6.66675Z" fill="white"/>
      <path d="M25.6654 10.6667L28.1654 10.0001L29.1654 13.1667L25.6654 10.6667ZM31.1654 6.66675H26.832L25.4987 2.66675L24.1654 6.66675H19.832L23.332 9.16674L21.9987 13.1667L25.4987 10.6667L27.6654 9.16674L31.1654 6.66675Z" fill="white"/>
      <path d="M43.0013 10.6667L45.5013 10.0001L46.5013 13.1667L43.0013 10.6667ZM48.5013 6.66675H44.168L42.8346 2.66675L41.5013 6.66675H37.168L40.668 9.16674L39.5013 13.1667L43.0013 10.6667L45.168 9.16674L48.5013 6.66675Z" fill="white"/>
      <path d="M60.1667 10.6667L62.6667 10.0001L63.6667 13.1667L60.1667 10.6667ZM65.8333 6.66675H61.5L60.1667 2.66675L58.8333 6.66675H54.5L58 9.16674L56.6667 13.1667L60.1667 10.6667L62.3333 9.16674L65.8333 6.66675Z" fill="white"/>
      <path d="M77.4987 10.6667L79.9987 10.0001L80.9987 13.1667L77.4987 10.6667ZM82.9987 6.66675H78.6654L77.332 2.66675L76.1654 6.66675H71.832L75.332 9.16674L73.9987 13.1667L77.4987 10.6667L79.6654 9.16674L82.9987 6.66675Z" fill="white"/>
      </svg>

      {% if revText != blank %}
        <p class="pdp-reviews__price pdp-text">
          {{ revText }}
        </p>
      {%- endif -%}

      </div>
    {% if reviews_title != '' %}
    <h2 class="pdp-reviews__title pdp-title pdp-text--center pdp-text--black">
      {{ reviews_title }}
    </h2>
  {% endif %} 
  <div class="marquee marquee-reviews">
    {% for i in (1..5) %}

      <div class="marquee__group">
        
        {% for info in marqueBlock %}

            {% liquid  
            assign pdpMarqueeImg = info.settings.pdp_marquee_img

           %}
            <div class="marquee__item">
                <div class="pdp-marquee__image pdp-reviews__marque-image">
                    {% if pdpMarqueeImg %}
 
                      
           <img  data-class="LazyLoad"  data-src="{{ pdpMarqueeImg |  img_url :'master' }}" src="{{ pdpMarqueeImg |  img_url :'40x' }}" class='pdp-image' >
  
                    {% endif %}
                </div>
            </div>
        {% endfor %} 
    
      </div>
    {% endfor %} 

  </div>
  <div class="pdp-reviews__rev-wrapper">
    {% if revBlock.size > 0 %}
      <div class="swiper-review swiper">
        <div class="pdp-reviews__slider swiper-wrapper">
          {% for block in revBlock %}
          
              {% liquid
                  assign pdpReviewsText = block.settings.pdp_reviews_text
                  assign pdpReviewsName = block.settings.pdp_reviews_name
                  assign pdpProductImg = block.settings.pdp_product_image

              %}
              <div class="swiper-slide pdp-reviews__slide">
                <div class="pdp-reviews__slider-container">

                    <svg class='pdp-reviews__stars' width="97" height="19" viewBox="0 0 97 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5 0.73584H0.5V18.7356H18.5V0.73584Z" fill="#00B67A"/>
                    <path d="M37.8125 0.736084H19.8125V18.7359H37.8125V0.736084Z" fill="#00B67A"/>
                    <path d="M57.3125 0.736084H39.3125V18.7359H57.3125V0.736084Z" fill="#00B67A"/>
                    <path d="M76.625 0.736084H58.625V18.7359H76.625V0.736084Z" fill="#00B67A"/>
                    <path d="M96.125 0.736084H78.125V18.7359H96.125V0.736084Z" fill="#DCDCE6"/>
                    <path d="M78.125 0.736084H87.125V18.5484H78.125V0.736084Z" fill="#00B67A"/>
                    <path d="M9.3125 12.7357L12.125 11.9857L13.25 15.5482L9.3125 12.7357ZM15.6875 8.23578H10.8125L9.3125 3.73584L7.8125 8.23578H3.125L7.0625 11.0482L5.5625 15.5482L9.5 12.7357L11.9375 11.0482L15.6875 8.23578Z" fill="white"/>
                    <path d="M28.8125 12.7357L31.625 11.9857L32.75 15.5482L28.8125 12.7357ZM35 8.23578H30.125L28.625 3.73584L27.125 8.23578H22.25L26.1875 11.0482L24.6875 15.5482L28.625 12.7357L31.0625 11.0482L35 8.23578Z" fill="white"/>
                    <path d="M48.3125 12.7357L51.125 11.9857L52.25 15.5482L48.3125 12.7357ZM54.5 8.23578H49.625L48.125 3.73584L46.625 8.23578H41.75L45.6875 11.0482L44.375 15.5482L48.3125 12.7357L50.75 11.0482L54.5 8.23578Z" fill="white"/>
                    <path d="M67.625 12.7359L70.4375 11.9859L71.5625 15.5483L67.625 12.7359ZM74 8.23591H69.125L67.625 3.73596L66.125 8.23591H61.25L65.1875 11.0484L63.6875 15.5483L67.625 12.7359L70.0625 11.0484L74 8.23591Z" fill="white"/>
                    <path d="M95.75 0.736084H77.75V18.7359H95.75V0.736084Z" fill="#00B67A"/>
                    <path d="M86.75 12.7359L89.5625 11.9859L90.6875 15.5483L86.75 12.7359ZM93.125 8.23591H88.25L86.75 3.73596L85.25 8.23591H80.375L84.3125 11.0484L82.8125 15.5483L86.75 12.7359L89.1875 11.0484L93.125 8.23591Z" fill="white"/>
                    </svg>
                         
                    <p class="pdp-reviews__rev-text pdp-text--black">
                        {{ pdpReviewsText }} 
                    </p>
                    <div class="pdp-reviews__reviewer">         
                        <div class="pdp-reviews__reviewer-content">
                            <p class="pdp-reviews__name pdp-text--black">
                                {{ pdpReviewsName }} 
                            </p>
                            <div class="pdp-reviews__reviewer-verified">
                                <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 3.73588L3.16667 6.40255L8.5 1.06921" stroke="#E10B17"/>
                                </svg>
                                <p>Acquisto verificato</p>         
                            </div>
                        </div>   
                        
                        <div class="pdp-reviews__product-image">
                            {% if pdpProductImg %}
          <img  data-class="LazyLoad"  data-src="{{ pdpProductImg |  img_url :'master' }}" src="{{ pdpProductImg |  img_url :'40x' }}" class='pdp-image' >
     
                            {% endif %}
                        </div>
                    </div>
                  
                </div>
              </div>
          {% endfor %}
        </div>
        <div class="slider-navigation">
          <div class="swiper-button-prev-rev">
            <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="40" height="40" rx="20" transform="matrix(-1 0 0 1 40 0.73584)" fill="#101123"/>
                <path d="M18.75 14.4858L12.5 20.7358M12.5 20.7358L18.75 26.9858M12.5 20.7358H27.5" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
          </div>

          <div class="swiper-pagination swiper-pagination-rev"></div>

          <div class="swiper-button-next-rev">
                <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.73584" width="40" height="40" rx="20" fill="#101123"/>
                <path d="M21.2501 14.486L27.5001 20.736M27.5001 20.736L21.2501 26.986M27.5001 20.736H12.5001" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
          </div>
        </div>
      </div>

    {% endif %}
  </div>

</section>

<script src="{{ 'pdp-swiper-reviews.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "pdp Reviews",
    "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background color"
    },
      {
        "type": "text", 
        "id": "reviews_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "rev_text",
        "label":"Type review text"
      },

      {
        "type": "color",
        "id": "bg_slide_color",
        "label": "Slide background color"
      }
    ],

    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "label": "Chose Text",
            "id": "pdp_reviews_text",
            "type": "text"
          },
          {
            "label": "Chose Name",
            "id": "pdp_reviews_name",
            "type": "text"
          },
          {
            "type": "image_picker",
            "id": "pdp_product_image",
            "label": "product image"
          },
        ]
      },
      {
        "type": "marquee",
        "name": "marquee",
        "settings": [
        {
            "type": "image_picker",
            "id": "pdp_marquee_img",
            "label": "marquee icon"
          }
        ]
      },
    ],

    

    "presets": [
      {
        "name": "pdp Reviews"
      }
    ]
  } 
{% endschema %}
  
  