{{ 'pdp-products-section.css' | asset_url | stylesheet_tag }}

{% liquid

assign pdp_products_title = section.settings.pdp_products_title
assign productBox = section.blocks | where: 'type', 'product'
assign bg_color = section.settings.bg_color

%}

{% style %}
.pdp-products {
background-color: {{ bg_color }};
}

{% endstyle %}


<section id="homepage-shop" class="pdp-products pdp-bg--gray">
  <div class="l">

    {% if pdp_products_title != '' %}
    <h2 class="pdp-products__title pdp-title pdp-text--center pdp-text--black">
      {{ pdp_products_title }}
    </h2>
    {% endif %}

    {% if section.blocks.size > 0 %}
    <div class="pdp-products__wrapper">
      {% for block in productBox %}

      {% liquid
      assign productTitle = block.settings.pdp_product.title
      assign productImg = block.settings.pdp_product.featured_image

      assign productImgCustom = block.settings.product_img_custom

      assign revText = block.settings.rev_text

      assign productPdp = all_products[block.settings.pdp_product]

      assign productImgBadge = block.settings.product_img_badge
      assign productImgBadgeSecond = block.settings.product_img_badge_second


      %}

      <div class="pdp-products__box">
        {% if productImgBadge %}
        <div class="pdp-products__badge-img {% if productImgBadgeSecond %} product_badge-first {%- endif -%}">
             <img  data-class="LazyLoad"  data-src="{{ productImgBadge |  img_url :'master' }}" src="{{ productImgBadge |  img_url :'40x' }}"   data-class="LazyLoad"  >
        </div>
        {%- endif -%}

        {% if productImgBadgeSecond %}
        <div class="pdp-products__badge-img product_badge-second">
          <img  data-class="LazyLoad"  data-src="{{ productImgBadgeSecond |  img_url :'master' }}" src="{{ productImgBadgeSecond |  img_url :'40x' }}"   data-class="LazyLoad"  >
         </div>
        {%- endif -%}

        {% if productImgCustom %}
         <div class="pdp-products__media">
          <a title= "{{ productTitle }}" href="{{ productPdp.url }}"><img  data-class="LazyLoad"  data-src="{{ productImgCustom |  img_url :'master' }}" src="{{ productImgCustom |  img_url :'40x' }}"   data-class="LazyLoad"  ></a>
         </div>
        {%- else -%}
         <div class="pdp-products__media">
         <a title= "{{ productTitle }}" href="{{ productPdp.url }}"><img  data-class="LazyLoad"  data-src="{{ productImg |  img_url :'master' }}" src="{{ productImg |  img_url :'40x' }}"   data-class="LazyLoad"  ></a>
        </div>
        {%- endif -%}


        <div class="pdp-products__rev-star">
          <svg class="pdp-products__stars" width="84" height="17" viewBox="0 0 84 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.66675 0.5L11.0179 5.26393L16.2752 6.02786L12.471 9.73607L13.369 14.9721L8.66675 12.5L3.96447 14.9721L4.86252 9.73607L1.0583 6.02786L6.31561 5.26393L8.66675 0.5Z" fill="black"/>
          <path d="M25.3335 0.5L27.6846 5.26393L32.9419 6.02786L29.1377 9.73607L30.0358 14.9721L25.3335 12.5L20.6312 14.9721L21.5293 9.73607L17.725 6.02786L22.9824 5.26393L25.3335 0.5Z" fill="black"/>
          <path d="M42 0.5L44.3511 5.26393L49.6085 6.02786L45.8042 9.73607L46.7023 14.9721L42 12.5L37.2977 14.9721L38.1958 9.73607L34.3915 6.02786L39.6489 5.26393L42 0.5Z" fill="black"/>
          <path d="M58.6665 0.5L61.0176 5.26393L66.275 6.02786L62.4707 9.73607L63.3688 14.9721L58.6665 12.5L53.9642 14.9721L54.8623 9.73607L51.0581 6.02786L56.3154 5.26393L58.6665 0.5Z" fill="black"/>
          <path d="M75.3335 0.5L77.6846 5.26393L82.9419 6.02786L79.1377 9.73607L80.0358 14.9721L75.3335 12.5L70.6312 14.9721L71.5293 9.73607L67.725 6.02786L72.9824 5.26393L75.3335 0.5Z" fill="url(#paint0_linear_295_351)"/>
          <defs>
          <linearGradient id="paint0_linear_295_351" x1="67.3335" y1="8.5" x2="83.3335" y2="8.5" gradientUnits="userSpaceOnUse">
          <stop offset="0.5"/>
          <stop offset="0.5" stop-color="#D1D1D1"/>
          </linearGradient>
          </defs>
          </svg>

          {% if revText != blank %}
          <p class="pdp-products__rev pdp-text">
            {{ revText }}
          </p>
          {%- endif -%}

        </div>

        <a title= "{{ productTitle }}" href="{{ productPdp.url }}"><h4 class="pdp-products__product-title">{{ productTitle }}</h4></a>
        {% assign price = productPdp.selected_or_first_available_variant.price %}
        {% assign compare_at_price = productPdp.selected_or_first_available_variant.compare_at_price %}
        {% assign discount_percentage = compare_at_price
        | minus: price
        | times: 100.0
        | divided_by: compare_at_price
        %}
        <div class="pdp-products__price-wrapp">
          <p class="pdp-products__price pdp-text">
            {{ price | money_with_currency }}
          </p>
          <p class="pdp-products__compare-at-price pdp-text">
            <s>
              {{ compare_at_price | money_with_currency }}
            </s>
          </p>

        </div>

        {% if compare_at_price != blank %}
        <div class="pdp-products__badge">
          <span class="percent-count">Risparmia {{ discount_percentage | round: 0 }}%</span>
        </div>
        {%- endif -%}

  

        <div class="pdp-btn--wrapper">



        <button data-product-id="{{ product.id }}" data-add-to-cart type="submit" name="add" pid='{{ productPdp.selected_or_first_available_variant.id }}' id="addToCart QuickShopModal-{{ product.id }}" class="pdp-btn pdp-btn--products  modal--quick-shop" {% if
              productPdp.available %}{% else %} disabled{% endif %}>
              {% if productPdp.available %}
              <span class="lsg-card-product__btn-text-desk" id="QuickShopHolder-{{ product.handle }}">
                Aggiungi al carrello
              </span>
              {% else %}
              Out Of Stock
              {%- endif -%}
            </button>

          <a class="pdp-products__view-more" title= "{{ productTitle }}" href="{{ productPdp.url }}">Vedi prodotto</a>

        </div>
 

      </div>
      {% endfor %}
    </div>

    {% endif %}

  </div>
</section>

{% schema %}
{
"name": "pdp product section",
"settings": [
{
"type": "color",
"id": "bg_color",
"label": "Section background color"
},
{
"type": "text",
"id": "pdp_products_title",
"label": "Section Title"
}
],
"blocks": [
{
"type": "product",
"name": "product",
"settings": [
{
"type": "product",
"id": "pdp_product",
"label":"Chose product"
},
{
"type": "text",
"id": "rev_text",
"label":"Type review text"
},
{
"label": "Chose Product Image",
"id": "product_img_custom",
"type": "image_picker"
},
{
"label": "Chose Product Badge",
"id": "product_img_badge",
"type": "image_picker"
},
{
"label": "Chose Product Badge Second",
"id": "product_img_badge_second",
"type": "image_picker"
}
]
}
],
"presets": [
{
"name": "Pdp Products"
}
]
}
{% endschema %}